<div class="third" id="top">
  <div class="half" id="left">
    <div class="points_assignment" id="temple_points"></div>
  </div>
  <div class="half" id="right"></div>
</div>
<div class="third" id="main">
  <div class="section" id="spacing_left">
    <div class="section" id="smoke">
      <span class="s0"></span>
      <span class="s1"></span>
      <span class="s2"></span>
      <span class="s3"></span>
      <span class="s4"></span>
      <span class="s5"></span>
      <span class="s6"></span>
      <span class="s7"></span>
      <span class="s8"></span>
      <span class="s9"></span>
    </div>
    <div class="section" id="smoke2">
      <span class="s0"></span>
      <span class="s1"></span>
      <span class="s2"></span>
      <span class="s3"></span>
      <span class="s4"></span>
      <span class="s5"></span>
      <span class="s6"></span>
      <span class="s7"></span>
      <span class="s8"></span>
      <span class="s9"></span>
    </div>
  </div>
  <div class="section" id="temple">
    <div class="field" id="field_1"></div>
    <div class="field" id="field_2"></div>
    <div class="field" id="field_3"></div>
    <div class="field" id="field_4"></div>
    <div class="field" id="field_5"></div>
  </div>
  <div class="section" id="spacing_right"></div>
</div>
<div class="third" id="bottom"></div>
