
<div class="harbour_parent">
  <final-destination id="site_harbour_Temple" [parent]="myComp" [id]="'Temple'" [ship]="ship"></final-destination>
</div>


<div class="site_parent">

<div class="third" id="top">
  <div class="half" id="left">
    <div class="points_assignment" id="temple_points"></div>
  </div>
  <div class="half" id="right"><div id="total"><!--Stones: {{totalStones}}--></div></div>
</div>
<div class="third" id="main">
  <div class="section" id="spacing_left">
    <div class="section" id="smoke">
      <span class="s0"></span>
      <span class="s1"></span>
      <span class="s2"></span>
      <span class="s3"></span>
      <span class="s4"></span>
      <span class="s5"></span>
      <span class="s6"></span>
      <span class="s7"></span>
      <span class="s8"></span>
      <span class="s9"></span>
    </div>
    <div class="section" id="smoke2">
      <span class="s0"></span>
      <span class="s1"></span>
      <span class="s2"></span>
      <span class="s3"></span>
      <span class="s4"></span>
      <span class="s5"></span>
      <span class="s6"></span>
      <span class="s7"></span>
      <span class="s8"></span>
      <span class="s9"></span>
    </div>
  </div>
  <div class="section" id="temple">
    <!--add stone fields-->
    <div *ngFor="let field_id of fieldArray" id="field_{{field_id}}" class="field">
      <div *ngIf="stones[field_id-1] != null">
        <app-stone [stone]="stones[field_id-1]"></app-stone>
      </div>
  <div class="section" id="spacing_right"></div>
</div>
    <div class="third" id="bottom">
      <div *ngFor="let field_id_lvl of fieldArray" id="field_{{field_id_lvl}}" class="field">{{fieldHeight[field_id_lvl-1]}}</div>
    </div>
  </div>

</div>

</div>
