<div class="third" id="top">
  <div class="half" id="left">
    <div id="points_assignment"></div>
  </div>
  <div class="half" id="right"></div>
</div>
<div class="third" id="main">
  <div class="section" id="spacing_left"></div>
  <div class="section" id="temple">
    <div class="field" id="field_1"></div>
    <div class="field" id="field_2"></div>
    <div class="field" id="field_3"></div>
    <div class="field" id="field_4"></div>
    <div class="field" id="field_5"></div>
  </div>
  <div class="section" id="spacing_right"></div>
</div>
<div class="third" id="bottom"></div>
