.third{
  width: 100%;
  float: left;
  float: top;
}

#top{
  height: 43%;
}

#main{
  height: 28%;
}

#bottom{
  height: 29%;
}

.section{
  height: 100%;
  width: 10%;
  float: left;
  float: top;
}

#spacing_left{
  width: 48%;
}

#temple{
  width: 43.5%;
}

#spacing_right{
  width: 8.5%;
}

/* Field Formatting */

.field{
  border: 1px solid red;
  float: left;
  float: top;
}

#field_1, #field_2, #field_3, #field_4, #field_5{
  height: 100%;
  width: 20%;
}
