@font-face {
  font-family: 'Lithos Pro';
  src: url("../../../assets/fonts/LithosPro-Regular.otf") format("opentype");
  font-style: normal;
}

.harbour_parent{
  width: 22%;
  height: 100%;
  float: left;
}

.site_parent{
  width: 78%;
  height: 100%;
  float: left;
}


.third{
  width: 100%;
  float: left;
  float: top;
}

#top{
  height: 43%;
}

.half{
  float: left;
  float: top;
  width: 50%;
  height: 100%;
}

#right{
  margin-left: -6%;
  font: 500 20px "Lithos Pro", Helvetica, Sans-Serif;
  padding-top: 7%;
  width: 30%;
  color: white;
}

#total{
}

.points_assignment{
  height: 60%;
  margin-top: 10%;
  width: 70%;
  margin-left: 20%;
}

#main{
  height: 28%;
}

#bottom{
  height: 80%;
}

.section{
  height: 100%;
  width: 10%;
  float: left;
  float: top;
}

#spacing_left{
  width: 48%;
  height: 140%;
}

#temple{
  width: 43.5%;
}

#spacing_right{
  width: 8.5%;
}

/* Field Formatting */

.field{
  /*border: 1px solid red;*/
  float: left;
  float: top;
  height: 100%;
  width: 20%;
  text-align: center;
  color: white;
  font: 500 20px "Lithos Pro", Helvetica, Sans-Serif;
  text-shadow: 2px 2px 2px black;
}













/* Smoke container  -- Left one*/

#smoke {
  position: relative;
  z-index: 3;
  width: 1px; height: 80px;
  left: 50%; bottom: 30px;
}

/* smoke balls */

#smoke span {
  display: block;
  position: absolute;
  bottom: -35px; left: 50%; margin-left:-20px;
  height: 0px; width: 0px;
  border: 35px solid lightgray;
  border-radius: 35px;
  left: -14px; opacity: 0;
  transform: scale(0.2);
}

/* Smoke animation

@keyframes smokeL {
  0%   { transform: scale(0.0) translate(0, 0) }
  10%  { opacity: 1; transform: scale(0.1) translate(0, -5px) }
  100% { opacity: 0; transform: scale(0.2) translate(-20px, -130px) }
}

@keyframes smokeR {
  0%   { transform: scale(0.0) translate(0, 0) }
  10%  { opacity: 1; transform: scale(0.1) translate(0, -5px) }
  100% { opacity: 0; transform: scale(0.2) translate(20px, -130px) }
}

#smoke .s0 { animation: smokeL 10s 0s infinite }
#smoke .s1 { animation: smokeR 10s 1s infinite }
#smoke .s2 { animation: smokeL 10s 2s infinite }
#smoke .s3 { animation: smokeR 10s 3s infinite }
#smoke .s4 { animation: smokeL 10s 4s infinite }
#smoke .s5 { animation: smokeR 10s 5s infinite }
#smoke .s6 { animation: smokeL 10s 6s infinite }
#smoke .s7 { animation: smokeR 10s 7s infinite }
#smoke .s8 { animation: smokeL 10s 8s infinite }
#smoke .s9 { animation: smokeR 10s 9s infinite }
*/


/* Smoke container  -- Right One

#smoke2 {
  position: relative;
  z-index: 3;
  width: 1px; height: 80px;
  left: 70%; bottom: 30px;
}
*/
/* smoke balls

#smoke2 span {
  display: block;
  position: absolute;
  bottom: -35px; left: 50%; margin-left:-20px;
  height: 0px; width: 0px;
  border: 35px solid lightgray;
  border-radius: 35px;
  left: -14px; opacity: 0;
  transform: scale(0.2);
}


#smoke2 .s0 { animation: smokeL 10s 0s infinite }
#smoke2 .s1 { animation: smokeR 10s 1s infinite }
#smoke2 .s2 { animation: smokeL 10s 2s infinite }
#smoke2 .s3 { animation: smokeR 10s 3s infinite }
#smoke2 .s4 { animation: smokeL 10s 4s infinite }
#smoke2 .s5 { animation: smokeR 10s 5s infinite }
#smoke2 .s6 { animation: smokeL 10s 6s infinite }
#smoke2 .s7 { animation: smokeR 10s 7s infinite }
#smoke2 .s8 { animation: smokeL 10s 8s infinite }
#smoke2 .s9 { animation: smokeR 10s 9s infinite }

*/





