<p>
  scrollbar works!
</p>
<p>
  scrollable works!
</p>

<div class="screen">

  <div class="container">

    <table class="table table-hover">

      <tbody class="tbody">
      <tr class="row" *ngFor="let game of games">
        <td>{{game.name}}</td>
        <td>{{game.players.length}} / {{game.numPlayers}}</td>
        <td>

          <button *ngIf="joinedGame!=game.id" class="btn btn-sm btn-primary btn-block"
                  type="submit" (click)="joinGame(game.id)">Join</button>

          <button *ngIf="joinedGame==game.id" class="btn btn-sm btn-primary btn-block"
                  type="submit" (click)="leaveGame(game.id)">Leave</button>
        </td>
      </tr>
      </tbody>

    </table>

  </div>




  <div class="container">

    <table class="table table-fixed">

      <thead>
      <tr>
        <th class="col-xs-3">First Name</th>
        <th class="col-xs-3">Last Name</th>
        <th class="col-xs-6">E-mail</th>
      </tr>
      </thead>

      <tbody>
      <tr>
        <td class="col-xs-3">John</td>
        <td class="col-xs-3">Doe</td>
        <td class="col-xs-6">johndoe@email.com</td>
      </tr>

      <tr>
        <td class="col-xs-3">John</td>
        <td class="col-xs-3">Doe</td>
        <td class="col-xs-6">johndoe@email.com</td>
      </tr>
      <tr>
        <td class="col-xs-3">John</td>
        <td class="col-xs-3">Doe</td>
        <td class="col-xs-6">johndoe@email.com</td>
      </tr>
      <tr>
        <td class="col-xs-3">John</td>
        <td class="col-xs-3">Doe</td>
        <td class="col-xs-6">johndoe@email.com</td>
      </tr>
      <tr>
        <td class="col-xs-3">John</td>
        <td class="col-xs-3">Doe</td>
        <td class="col-xs-6">johndoe@email.com</td>
      </tr>
      <tr>
        <td class="col-xs-3">John</td>
        <td class="col-xs-3">Doe</td>
        <td class="col-xs-6">johndoe@email.com</td>
      </tr>
      <tr>
        <td class="col-xs-3">John</td>
        <td class="col-xs-3">Doe</td>
        <td class="col-xs-6">johndoe@email.com</td>
      </tr>
      <tr>
        <td class="col-xs-3">John</td>
        <td class="col-xs-3">Doe</td>
        <td class="col-xs-6">johndoe@email.com</td>
      </tr>
      <tr>
        <td class="col-xs-3">John</td>
        <td class="col-xs-3">Doe</td>
        <td class="col-xs-6">johndoe@email.com</td>
      </tr>
      <tr>
        <td class="col-xs-3">John</td>
        <td class="col-xs-3">Doe</td>
        <td class="col-xs-6">johndoe@email.com</td>
      </tr>
      <tr>
        <td class="col-xs-3">John</td>
        <td class="col-xs-3">Doe</td>
        <td class="col-xs-6">johndoe@email.com</td>
      </tr>
      <tr>
        <td class="col-xs-3">John</td>
        <td class="col-xs-3">Doe</td>
        <td class="col-xs-6">johndoe@email.com</td>
      </tr>
      <tr>
        <td class="col-xs-3">John</td>
        <td class="col-xs-3">Doe</td>
        <td class="col-xs-6">johndoe@email.com</td>
      </tr>
      <tr>
        <td class="col-xs-3">John</td>
        <td class="col-xs-3">Doe</td>
        <td class="col-xs-6">johndoe@email.com</td>
      </tr>
      <tr>
        <td class="col-xs-3">John</td>
        <td class="col-xs-3">Doe</td>
        <td class="col-xs-6">johndoe@email.com</td>
      </tr>
      <tr>
        <td class="col-xs-3">John</td>
        <td class="col-xs-3">Doe</td>
        <td class="col-xs-6">johndoe@email.com</td>
      </tr>
      <tr>
        <td class="col-xs-3">John</td>
        <td class="col-xs-3">Doe</td>
        <td class="col-xs-6">johndoe@email.com</td>
      </tr>
      <tr>
        <td class="col-xs-3">John</td>
        <td class="col-xs-3">Doe</td>
        <td class="col-xs-6">johndoe@email.com</td>
      </tr>
      <tr>
        <td class="col-xs-3">John</td>
        <td class="col-xs-3">Doe</td>
        <td class="col-xs-6">johndoe@email.com</td>
      </tr>
      <tr>
        <td class="col-xs-3">John</td>
        <td class="col-xs-3">Doe</td>
        <td class="col-xs-6">johndoe@email.com</td>
      </tr>
      </tbody>
    </table>
  </div>

</div>

<p>
  scrollable2 works!
</p>
<div class="container_lobby_screen">

  <p class="lobby_title">Lobby (demo)</p>



  <div class="game_table">
    <!--<div id="greeting">Howdy {{myself.username}} your user id is {{myself.id}}</div>-->

    <div class="container">

      <h2 id="list_of_games">List of Games</h2>

      <table class="table table-hover">

        <tbody class="tbody">
        <tr class="game-row" *ngFor="let game of games">
          <td id="td1">{{game.name}}</td>
          <td id="td2">{{game.players.length}} / {{game.numPlayers}}</td>
          <td id="td3">

            <button *ngIf="joinedGame!=game.id" class="btn btn-sm btn-primary btn-block"
                    type="submit" (click)="joinGame(game.id)">Join</button>

            <button *ngIf="joinedGame==game.id" class="btn btn-sm btn-primary btn-block"
                    type="submit" (click)="leaveGame(game.id)">Leave</button>
          </td>
        </tr>
        </tbody>

      </table>
    </div>

  </div>


</div>




