<div class="background" id="glow2">

<div class="bottom_part">
  <div id="score_2" class="low_l score">
    <p id="score_number" class="non-draggable">{{score}}</p>
  </div>

  <!--drag and drop zone-->
  <div id="supply_sled_2" class="low_m ">

    <div id="bag_2" class="stone_icon" dnd-draggable [dragEnabled]="(!(sailPlayed == true && sailMove != null)) && canIPlay && isThisMyField && hasStones && !gameComp.game.leverPlayed" [dropZones]="['slots']" [dragData]="playerFieldStone">
      <app-stone id="stones_2" [stone]="playerFieldStone" class="you-may-copy-us"></app-stone>
    </div>

    <div class="supply_sled_2">
      <p class="non-draggable" id="stone_label_2">{{sledStones}}/5</p>
    </div>
  </div>

  <div (click)="takeStonesFromQuarryToSled()" id="quarry_2" class="low_r quarry">
    <p id="quarry_number" class="non-draggable">{{quarryStones}}</p>
  </div>
</div>


  <div class="top_part non-draggable">
    <!-- copied from cards.component.html -->
    <div class="cards_container">

      <div class="left_part">
        <div class="upper_quarter">
          <div class="card top_left_left"><div (click)="nonPlayable()" [ngStyle]="{opacity: 0.3 + 0.7*(cardNumbers[1])}" id="tll_2" class="tll_icon"><p class="non-draggable" style="position:absolute;">{{cardNumbers[1]}}</p></div></div>
          <div class="card top_middle_left"><div (click)="nonPlayable()" [ngStyle]="{opacity: 0.3 + 0.7*(cardNumbers[2])}" id="tml_2" class="tml_icon"><p class="non-draggable" style="position:absolute;">{{cardNumbers[2]}}</p></div></div>
          <div class="card top_middle_right"><div (click)="nonPlayable()" [ngStyle]="{opacity: 0.3 + 0.7*(cardNumbers[3])}" id="tmr_2" class="tmr_icon"><p class="non-draggable" style="position:absolute;">{{cardNumbers[3]}}</p></div></div>
          <div class="card top_right_right"><div (click)="nonPlayable()" [ngStyle]="{opacity: 0.3 + 0.7*(cardNumbers[4])}" id="trr_2" class="trr_icon"><p class="non-draggable" style="position:absolute;">{{cardNumbers[4]}}</p></div></div>
        </div>

        <div class="lower_quarter">
          <div class="card bottom_left_left"><div (click)="playCard(5)" [ngStyle]="{opacity: 0.3 + 0.7*(cardNumbers[5])}" id="bll_2" class="bll_icon"><p class="non-draggable" style="position:absolute;">{{cardNumbers[5]}}</p></div></div>
          <div class="card bottom_middle_left"><div (click)="playCard(6)" [ngStyle]="{opacity: 0.3 + 0.7*(cardNumbers[6])}" id="bml_2" class="bml_icon"><p class="non-draggable" style="position:absolute;">{{cardNumbers[6]}}</p></div></div>
          <div class="card bottom_middle_right"><div (click)="playCard(7)" [ngStyle]="{opacity: 0.3 + 0.7*(cardNumbers[7])}" id="bmr_2" class="bmr_icon"><p class="non-draggable" style="position:absolute;">{{cardNumbers[7]}}</p></div></div>
          <div class="card bottom_right_right"><div (click)="playCard(8)" [ngStyle]="{opacity: 0.3 + 0.7*(cardNumbers[8])}" id="brr_2" class="brr_icon"><p class="non-draggable" style="position:absolute;">{{cardNumbers[8]}}</p></div></div>
        </div>
      </div>

      <div class="right_part">
        <div class="purple_card"><div (click)="nonPlayable()" [ngStyle]="{opacity: 0.3 + 0.7*(cardNumbers[0])}" id="purple_2" class="purple_icon"><p class="non-draggable" style="position:absolute; margin-top:20%;">{{cardNumbers[0]}}</p></div></div>
      </div>
    </div>

    <div class="player_name">
      <p class = name_text>{{playerName}}</p>
    </div>

  </div>
</div>
























