@font-face {
  font-family: 'Lithos Pro';
  src: url("../../fonts/LithosPro-Regular.otf") format("opentype");
  font-style: normal;
}

.container_lobby_screen {
  width: 1366px;
  height: 768px;
  background-image: url(../../images/background.png);
  background-size:cover
}

.table_{
  padding-top: 130px;
  max-width: 400px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.lobby_title{
  font: 400 80px/1.2 'Lithos Pro', Helvetica, sans-serif;
  color: #867558;
  text-shadow: 3px 3px 2px #d4bd88;
  text-align: center;
}

