/*
=============================================================================
=============================================================================
Styling for all.
=============================================================================
=============================================================================
 */
.wrapper {
  display: table;
}
.container {
  display: table-cell;
  background-color: rgba(255, 255, 255, 0.2);
  width: 50%;
}
.container:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.2);
}
.container div,
.gu-mirror {
  margin: 10px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 0.4s ease-in-out;
}
.container div {
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
.gu-mirror {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

.drake {
  margin-bottom: 5px;
  border: 1px solid black;
  background: #4b86aa;
  opacity: 50;
  font: bold 32px/1 sans-serif;
  cursor: move;
  width:90%;
  height: 70px;
  margin:auto;
}

.item {
  margin-bottom: 5px;
  background: #54aa54;
  font: bold 32px/1 sans-serif;
  cursor: move;
  width:50%;
  height:40px;
  margin:auto;
}

/*
=============================================================================
=============================================================================
Styling for 4.
=============================================================================
=============================================================================
 */

.doNotDrag {
  background: #e42d20;
  cursor: default;
}


/*
=============================================================================
=============================================================================
Styling for 10.
=============================================================================
=============================================================================
 */

.departing_harbours>div {
  margin-bottom: 5px;
  border: 1px solid black;
  background: #4b86aa;
  opacity: 50;
  font: bold 32px/1 sans-serif;
  cursor: move;
  width:90%;
  height: 70px;
  margin:auto;
}

.arriving_harbours>div {
  margin-bottom: 5px;
  border: 1px solid black;
  background: #73a0aa;
  opacity: 50;
  font: bold 32px/1 sans-serif;
  cursor: move;
  width:90%;
  height: 70px;
  margin:auto;
}

.item_ship {
  margin-bottom: 5px;
  border: 1px solid black;
  background: #54aa54;
  font: bold 32px/1 sans-serif;
  cursor: move;
  width:50%;
  height: 50px;
  margin:auto;
}
.item_ship_doNotDrag {
  border: 1px solid black;
  background: #e42d20;
  cursor: default;
  width:50%;
  height: 50px;
  margin:auto;
}

