<div class="top_part">
  <div class="player_name">
    <p class = "name_text">Player 4</p>
  </div>
  <!-- copied from cards.component.html -->
  <div class="cards_container">

    <div class="left_part">
      <div class="upper_quarter">
        <div class="card top_left_left"><div id="tll_4"><img class="tll_icon" src="../../../../assets/images/icons/pyramiddec.png"></div></div>
        <div class="card top_middle_left"><div id="tml_4"><img class="tml_icon" src="../../../../assets/images/icons/templedec.png"></div></div>
        <div class="card top_middle_right"><div id="tmr_4"><img class="tmr_icon" src="../../../../assets/images/icons/burialdec.png"></div></div>
        <div class="card top_right_right"><div id="trr_4"><img class="trr_icon" src="../../../../assets/images/icons/obeliskdec.png"></div></div>
      </div>

      <div class="lower_quarter">
        <div class="card bottom_left_left"><div id="bll_4"><img class="bll_icon" src="../../../../assets/images/icons/chisel.png"></div></div>
        <div class="card bottom_middle_left"><div id="bml_4"><img class="bml_icon" src="../../../../assets/images/icons/hammer.png"></div></div>
        <div class="card bottom_middle_right"><div id="bmr_4"><img class="bmr_icon" src="../../../../assets/images/icons/sail.png"></div></div>
        <div class="card bottom_right_right"><div id="brr_4"><img class="brr_icon" src="../../../../assets/images/icons/lever.png"></div></div>
      </div>
    </div>

    <div class="right_part">
      <div class="purple_card"><div id="purple_4"><img class="purple_icon" src="../../../../assets/images/icons/statue.png"></div></div>
    </div>

  </div>
  <!-- copied from cards.component.html -->
</div>

<div class="bottom_part">

  <div class="low score">
    <p>15</p>
  </div>

  <!--drag and drop zone-->
  <div id="supply_sled_4" class="low supply_sled you-may-copy-us" [dragula]="'stone_slots_bag'">
    <div id="stones_4" class="item_stone you-may-copy-us"><p>3/5</p></div>
  </div>

  <div class="low quarry">
    <p>27</p>
  </div>

</div>

