<div class="container_login_screen">

  <div class="form-signin">

    <h2 class="form-signin-heading">Join a Game!</h2>

    <!--input field-->
    <label for="name" class="sr-only">Username</label>
    <input id="name" type="text" class="form-control" maxlength="10"
           placeholder="Username"
           onkeydown = "if (event.keyCode == 13)
                        document.getElementById('login_btn').click()"
           [(ngModel)]="mySelf.username">
    <br>

    <!--buttons-->
    <div class="row">
      <div class="col-md-6">
        <button id="login_btn" class="btn btn-lg btn-primary btn-block"
                type="submit" (click)="login()">Login</button>
      </div>
      <div class="col-md-6">
        <button class="btn btn-lg btn-primary btn-block"
                type="submit" (click)="clearfields()">Clear</button>
      </div>
    </div>

    <br>
    <h2 class="login-footer">Made by Group 13</h2>
  </div>

</div>
