<div class="container_game_screen">

  <!-- Left Menu Border -->
  <div class="container_side container_left">
    <!-- Top Left Player Field -->
    <div class="player_field player_top_left">
        <app-top-left></app-top-left>
    </div>


    <!-- Departing Harbours -->
    <div class="departing_harbours">
        <!--<app-departing-harbour></app-departing-harbour> -->
    </div>



    <!-- Bottom Left Player Field -->
    <div class="player_field player_bottom_left">
      <app-bottom-left></app-bottom-left>
    </div>
  </div>





  <!-- Main Middle game container -->
  <div class="container_middle">
    <div class="game_header">

    </div>

    <div class="game_board">


      <div class="site_harbours">
        <app-site-harbour></app-site-harbour>
      </div>


      <div class="site_boards">

        <div class="site_board">
          <app-pyramid></app-pyramid>
        </div>
        <div class="site_board">
          <app-temple></app-temple>
        </div>
        <div class="site_board">
          <app-burial-chamber></app-burial-chamber>
        </div>
        <div class="site_board">
          <app-obelisk></app-obelisk>
        </div>
      </div>

      <div class="market_site">
        <app-market></app-market>
      </div>

      <div class="market_harbour">

      </div>

    </div>


    <div class="game_footer">

    </div>

  </div>



  <!-- Right Menu Border -->
  <div class="container_side container_right">
    <!-- Top Right Player Field -->
    <div class="player_field player_top_right">
      <app-top-right></app-top-right>
    </div>
    <!-- Departing Harbours -->
    <div class="info_box">
      <app-info-box></app-info-box>
    </div>
    <!-- Bottom Right Player Field -->
    <div class="player_field player_bottom_right">
      <app-bottom-right></app-bottom-right>
    </div>
  </div>
</div>
