.container_game_screen {
  width: 1366px;
  height: 768px;
  background-image: url(../../images/water_background.png);
  background-size:cover;
}

.container_side {
  width: 20%;
  height: 100%;
  position: relative;
  background-size:cover;
  background-color: #eea236;
  float: left;
}

.container_middle {
  width: 60%;
  height: 100%;
  position: relative;
  float: left;
  background-image: url(../../images/island_background.png);
  background-size:cover;
  background-position: center;
}

.player_field{
  width: 100%;
  height: 20%;
  position: relative;
  background-image: url(../../images/top_left.png);
  background-size: 100% auto;
  background-repeat: no-repeat;
  float: left;
  float: top;
}

.info_box{
  /* Uses a workaround at the moment to overflow background image into the top and bottom playerfields */
  width: 184px;
  height: 521px;
  background-image: url(../../images/infobox.png);
  float: right;
  float: top;
  border: 1px solid crimson;
  padding-top: 30px;
  margin-top: -30px;
  padding-bottom: 30px;
  margin-bottom: -30px;
}

.departing_harbours{
  width: 100%;
  height: 60%;
  background-color: #5bc0de;
  float: left;
  float: top;
}

.departing_harbour{
  width: 100%;
  height: 25%;
  background-color: #5bc0de;
  float: left;
  float: top;
  border: 1px solid crimson;
}

.player_top_left {
  background-image: url(../../images/top_left.png);
}

.player_bottom_left {
  background-image: url(../../images/bottom_left.png);
}

.player_top_right {
  background-image: url(../../images/top_right.png);
}

.player_bottom_right {
  background-image: url(../../images/bottom_right.png);
}


/* Site Boards */






/* For future use: to make the card icons B/W, use:    filter: grayscale(100%); */
