<div class="container_game_screen">

  <!-- Left Menu Border -->
  <div class="container_side container_left">
    <div class="player_field player_top_left">
        <p>Player_topleft</p>
    </div>
    <!-- Departing Harbours -->
    <div class="departing_harbours">
      <div class= "departing_harbour">

      </div>
      <div class= "departing_harbour">

      </div>
      <div class= "departing_harbour">

      </div>
      <div class= "departing_harbour">

      </div>
    </div>
  </div>

  <!-- Main Middle game container -->
  <div class="container_middle">

  </div>

  <!-- Right Menu Border -->
  <div class="container_side container_right">

  </div>
</div>
