<div class="container_game_screen">

  <!-- Left Menu Border -->
  <div class="container_side container_left">
    <!-- Top Left Player Field -->
    <div class="player_field player_top_left">
      <app-top-left id="playerField_2"></app-top-left>
    </div>


    <!-- Departing Harbours -->
    <div class="departing_harbours">
      <app-departing-harbour></app-departing-harbour>
    </div>


    <!-- Bottom Left Player Field -->
    <div class="player_field player_bottom_left">
      <app-bottom-left id="playerField_1"
                       (onEvent_setClickHandlerOnStoneQuarry_sledStones)="bottomLeftComponent_onEvent_setClickHandlerOnStoneQuarry_sledStones($event)"
                       (onEvent_setClickHandlerOnStoneQuarry_quarryStones)="bottomLeftComponent_onEvent_setClickHandlerOnStoneQuarry_quarryStones($event)"
                       (onEvent_setClickHandlerOnBlueMarketCards_bll_1_marketCards)="bottomLeftComponent_onEvent_setClickHandlerOnBlueMarketCards_bll_1_marketCards($event)"
                       (onEvent_setClickHandlerOnBlueMarketCards_bml_1_marketCards)="bottomLeftComponent_onEvent_setClickHandlerOnBlueMarketCards_bml_1_marketCards($event)"
                       (onEvent_setClickHandlerOnBlueMarketCards_bmr_1_marketCards)="bottomLeftComponent_onEvent_setClickHandlerOnBlueMarketCards_bmr_1_marketCards($event)"
                       (onEvent_setClickHandlerOnBlueMarketCards_brr_1_marketCards)="bottomLeftComponent_onEvent_setClickHandlerOnBlueMarketCards_brr_1_marketCards($event)">

      </app-bottom-left>
    </div>
  </div>

  <div class="spacing_left"></div>


  <!-- Main Middle game container -->
  <div class="container_middle">

    <div class="game_header">

    </div>


    <div class="game_board">

      <div class="site_harbours">
        <app-site-harbour></app-site-harbour>
      </div>

      <div class="site_boards">

        <div class="site_board">
          <app-pyramid></app-pyramid>
        </div>
        <div class="site_board">
          <app-temple (onEvent_placeStones_stones)="templeComponent_onEvent_placeStones_stones($event)"
                      (onEvent_placeStones_totalStones)="templeComponent_onEvent_placeStones_totalStones($event)"
                      (onEvent_placeStones_fieldHeight)="templeComponent_onEvent_placeStones_fieldHeight($event)">

          </app-temple>
        </div>
        <div class="site_board">
          <app-burial-chamber></app-burial-chamber>
        </div>
        <div class="site_board">
          <app-obelisk (onEvent_placeStones_stones)="obeliskComponent_onEvent_placeStones_stones($event)"
                       (onEvent_removeStones_stones)="obeliskComponent_onEvent_placeStones_stones($event)">
          </app-obelisk>
        </div>
      </div>

      <div class="market_site">
        <app-market (onEvent_setClickHandlerOnMarketCards_1_marketCards)="marketComponent_onEvent_setClickHandlerOnMarketCards_1_marketCards($event)"
                    (onEvent_setClickHandlerOnMarketCards_2_marketCards)="marketComponent_onEvent_setClickHandlerOnMarketCards_2_marketCards($event)"
                    (onEvent_setClickHandlerOnMarketCards_3_marketCards)="marketComponent_onEvent_setClickHandlerOnMarketCards_3_marketCards($event)"
                    (onEvent_setClickHandlerOnMarketCards_4_marketCards)="marketComponent_onEvent_setClickHandlerOnMarketCards_4_marketCards($event)">
        </app-market>
      </div>

      <div class="market_harbour">
        <app-market-harbour></app-market-harbour>
      </div>

    </div>


    <div style="border: 10px solid orange;" class="game_footer">

      <!-- Rolands, test buttons: remove them later -->

      <div class="row">
        <div class="col-md-3">
          <button style="width:90%; font-size:10px" class="btn btn-sm btn-primary btn-block"
                  type="submit" (click)="trigger_removeUnusedMarketCards()">
            removeUnusedMarketCards
          </button>
        </div>

        <div class="col-md-3">
          <button style="width:90%; font-size:10px" class="btn btn-sm btn-primary btn-block"
                  type="submit" (click)="trigger_generateFourMarketCards()">
            generateFourMarketCards
          </button>
        </div>

        <div class="col-md-3">
          <button style="width:90%; font-size:10px" class="btn btn-sm btn-primary btn-block"
                  type="submit" (click)="trigger_removeShips()">
            removeShips
          </button>
        </div>

        <div class="col-md-3">
          <button style="width:90%; font-size:10px" class="btn btn-sm btn-primary btn-block"
                  type="submit" (click)="trigger_generateFourShips()">
            generateFourShips
          </button>
        </div>
      </div>

      <!-- Rolands, test buttons: remove them later-->
      <div class="row">
        <div class="col-md-3">
          <button style="width:90%; font-size:10px" class="btn btn-sm btn-primary btn-block"
                  type="submit" (click)="trigger_setMarketCards()">
            setMarketCards
          </button>
        </div>

        <div class="col-md-3">
          <button style="width:90%; font-size:10px" class="btn btn-sm btn-primary btn-block"
                  type="submit" (click)="trigger_setScore()">
            setScores
          </button>
        </div>

        <div class="col-md-3">
          <button style="width:90%; font-size:10px" class="btn btn-sm btn-primary btn-block"
                  type="submit" (click)="trigger_setStonesInSled()">
            setStonesInSled
          </button>
        </div>

        <div class="col-md-3">
          <button style="width:90%; font-size:10px" class="btn btn-sm btn-primary btn-block"
                  type="submit" (click)="trigger_setStonesInQuarry()">
            setStonesInQuarry
          </button>
        </div>

      </div>

      <!-- Rolands, test buttons: remove them later -->
      <div class="row">
        <div class="col-md-3">
          <button style="width:90%; font-size:10px" class="btn btn-sm btn-primary btn-block"
                  type="submit" (click)="trigger_placeOnPyramid()">
            placeOnPyramid
          </button>
        </div>
        <div class="col-md-3">
          <button style="width:90%; font-size:10px" class="btn btn-sm btn-primary btn-block"
                  type="submit" (click)="trigger_placeOnTemple()">
            placeOnTemple
          </button>
        </div>
        <div class="col-md-3">
          <button style="width:90%; font-size:10px" class="btn btn-sm btn-primary btn-block"
                  type="submit" (click)="trigger_placeOnBurial()">
            placeOnBurial
          </button>
        </div>
        <div class="col-md-3">
          <button style="width:90%; font-size:10px" class="btn btn-sm btn-primary btn-block"
                  type="submit" (click)="trigger_placeOnObelisk()">
            placeOnObelisk
          </button>
        </div>

      </div>


      <!-- Rolands, test buttons: remove them later -->

      <div class="row">
          <div class="col-md-3">
            <button style="width:90%; font-size:10px" class="btn btn-sm btn-primary btn-block"
                    type="submit" (click)="trigger_removeAllStones()">
              removeAllStones
            </button>
        </div>

        <div class="col-md-3">
          <button style="width:90%; font-size:10px" class="btn btn-sm btn-primary btn-block"
                  type="submit" (click)="trigger_showSnackbarMessenger()">
            showSnackbarMessenger
          </button>
        </div>

        <div class="col-md-3">
          <button style="width:90%; font-size:10px" class="btn btn-sm btn-primary btn-block"
                  type="submit" (click)="trigger_deactivateOrActivateShips()">
            deactivateOrActivateShips
          </button>
        </div>

        <div class="col-md-3">
          <button style="width:90%; font-size:10px" class="btn btn-sm btn-primary btn-block"
                  type="submit" (click)="trigger_deactivateOrActivateStoneQuarry()">
            deactivateOrActivateStoneQuarry
          </button>
        </div>
      </div>

      <!-- Rolands, test buttons: remove them later -->

      <div class="row">
          <div class="col-md-3">
            <button style="width:90%; font-size:10px" class="btn btn-sm btn-primary btn-block"
                    type="submit" (click)="trigger_deactivateOrActivateIcons()">
              deactivateOrActivateIcons
            </button>
        </div>

        <div class="col-md-3">
          <button style="width:90%; font-size:10px" class="btn btn-sm btn-primary btn-block"
                  type="submit" (click)="trigger_deactivateOrActivateMarketCards()">
            deactivateOrActivateMarketCards
          </button>
        </div>

        <div class="col-md-3">
          <button style="width:90%; font-size:10px" class="btn btn-sm btn-primary btn-block"
                  type="submit" (click)="trigger_deactivateOrActivateSupplySled()">
            deactivateOrActivateSupplySled
          </button>
        </div>

        <div class="col-md-3">
          <button style="width:90%; font-size:10px" class="btn btn-sm btn-primary btn-block"
                  type="submit" (click)="trigger_deactivateOrActivatePlayerField()">
            deactivateOrActivatePlayerField
          </button>
        </div>
      </div>


      <!-- Rolands, test buttons: remove them later -->

      <div class="row">
          <div class="col-md-3">
            <button style="width:90%; font-size:10px" class="btn btn-sm btn-primary btn-block"
                    type="submit" (click)="trigger_showLastMoveOfOtherPlayer()">
              showLastMoveOfOtherPlayer
            </button>
        </div>

        <div class="col-md-3">
          <button style="width:90%; font-size:10px" class="btn btn-sm btn-primary btn-block"
                  type="submit" (click)="trigger_collectLastMoveOfActivePlayer()">
            collectLastMoveOfActivePlayer
          </button>
        </div>

        <div class="col-md-3">
          <button style="width:90%; font-size:10px" class="btn btn-sm btn-primary btn-block"
                  type="submit" (click)="trigger_setClickHandlerOnBlueMarketCards()">
            setClickHandlerOnBlueMarketCards
          </button>
        </div>

        <div class="col-md-3">
          <button style="width:90%; font-size:10px" class="btn btn-sm btn-primary btn-block"
                  type="submit" (click)="trigger_removeClickHandlerOnBlueMarketCards()">
            removeClickHandlerOnBlueMarketCards
          </button>
        </div>
      </div>


      <!-- Rolands, test buttons: remove them later -->

      <div class="row">
          <div class="col-md-3">
            <button style="width:90%; font-size:10px" class="btn btn-sm btn-primary btn-block"
                    type="submit" (click)="trigger_increaseRoundInInfoBox()">
              increaseRoundInInfoBox
            </button>
        </div>

        <div class="col-md-3">
          <button style="width:90%; font-size:10px" class="btn btn-sm btn-primary btn-block"
                  type="submit" (click)="trigger_setClickHandlerOnMarketCards()">
            setClickHandlerOnMarketCards
          </button>
        </div>

        <div class="col-md-3">
          <button style="width:90%; font-size:10px" class="btn btn-sm btn-primary btn-block"
                  type="submit" (click)="trigger_removeClickHandlerOnMarketCards()">
            removeClickHandlerOnMarketCards
          </button>
        </div>

        <div class="col-md-3">
          <button style="width:90%; font-size:10px" class="btn btn-sm btn-primary btn-block"
                  type="submit" (click)="trigger_setClickHandlerOnStone()">
            setClickHandlerOnStone
          </button>
        </div>
      </div>


      <!-- Rolands, test buttons: remove them later -->

      <div class="row">
        <div class="col-md-3">
          <button style="width:90%; font-size:10px" class="btn btn-sm btn-primary btn-block"
                  type="submit" (click)="trigger_removeClickHandlerOnStone()">
            removeClickHandlerOnStone
          </button>
        </div>

        <div class="col-md-3">
          <button style="width:90%; font-size:10px" class="btn btn-sm btn-primary btn-block"
                  type="submit" (click)="trigger_setClickHandlerOnSlot()">
            setClickHandlerOnSlot
          </button>
        </div>

        <div class="col-md-3">
          <button style="width:90%; font-size:10px" class="btn btn-sm btn-primary btn-block"
                  type="submit" (click)="trigger_removeClickHandlerOnSlot()">
            removeClickHandlerOnSlot
          </button>
        </div>

        <div class="col-md-3">
          <button style="width:90%; font-size:10px" class="btn btn-sm btn-primary btn-block"
                  type="submit" (click)="trigger_setPlayerName()">
            setPlayerName
          </button>
        </div>
      </div>



      <!-- Rolands, test buttons: remove them later -->

      <div class="row">
        <div class="col-md-3">
          <button style="width:90%; font-size:10px" class="btn btn-sm btn-primary btn-block"
                  type="submit" (click)="trigger_deactivateShipOnDepartingHarbour()">
            deactivateShipOnDepartingHarbour
          </button>
        </div>

        <div class="col-md-3">
          <button style="width:90%; font-size:10px" class="btn btn-sm btn-primary btn-block"
                  type="submit" (click)="trigger_activateShipOnDepartingHarbour()">
            activateShipOnDepartingHarbour
          </button>
        </div>

        <div class="col-md-3">
          <button style="width:90%; font-size:10px" class="btn btn-sm btn-primary btn-block"
                  type="submit" (click)="trigger_countStonesOnShip()">
            countStonesOnShip
          </button>
        </div>

        <div class="col-md-3">
          <button style="width:90%; font-size:10px" class="btn btn-sm btn-primary btn-block"
                  type="submit" (click)="trigger_showStonesInSled()">
            showStonesInSled
          </button>
        </div>
      </div>


      <!-- Rolands, test buttons: remove them later -->

      <div class="row">
        <div class="col-md-3">
          <button style="width:90%; font-size:10px" class="btn btn-sm btn-primary btn-block"
                  type="submit" (click)="trigger_FieldGlow()">
            setPlayerNameIntoGlowingMode
          </button>
        </div>
        <div class="col-md-3">
          <button style="width:90%; font-size:10px" class="btn btn-sm btn-primary btn-block"
                  type="submit" (click)="trigger_TemplateFunction()">
            TemplateFunction
          </button>
        </div>

        <div class="col-md-3">
          <button style="width:90%; font-size:10px" class="btn btn-sm btn-primary btn-block"
                  type="submit" (click)="trigger_TemplateFunction()">
            TemplateFunction
          </button>
        </div>

        <div class="col-md-3">
          <button style="width:90%; font-size:10px" class="btn btn-sm btn-primary btn-block"
                  type="submit" (click)="trigger_TemplateFunction()">
            TemplateFunction
          </button>
        </div>

      </div>

    </div>

  </div>


  <!-- Right Menu Border -->
  <div class="container_side container_right">
    <!-- Top Right Player Field -->
    <div class="player_field player_top_right">
      <app-top-right id="playerField_3"></app-top-right>
    </div>
    <!-- Departing Harbours -->
    <div class="info_box">
      <app-info-box></app-info-box>
    </div>
    <!-- Bottom Right Player Field -->
    <div class="player_field player_bottom_right">
      <app-bottom-right id="playerField_4"></app-bottom-right>
    </div>
  </div>
</div>
