.background {
  width: 1366px;
  height: 768px;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../../assets/images/water_background.png);
  background-size:cover;
  animation-name: water;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
}

@keyframes water {
  from {background-image: url(../../assets/images/water_background.png); filter: blur(1px);}
  to {background-image: url(../../assets/images/water_background3.png);   filter: blur(2px);}
}


.container_game_screen {
  width: 1366px;
  height: 768px;
  position: absolute;
  top: 0;
  left: 0;
}


.water_animation{
  float: none;
  width: 100%;
  height: 100%;
}

.container_side {
  width: 20%;
  height: 100%;
  position: relative;
  background-size:cover;
  float: left;
}

.spacing_left{
  height: 100%;
  width: 1%;
  float: left;
}

.container_middle {
  width: 59%;
  height: 100%;
  position: relative;
  float: left;
  background-image: url(../../assets/images/island_background.png);
  background-size:cover;
  background-position: center;
}

.player_field{
  width: 100%;
  height: 20%;
  position: relative;
  background-size: 100% auto;
  background-repeat: no-repeat;
  float: left;
  float: top;
}

.info_box{
  /* Uses a workaround to overflow background image into the top and bottom playerfields */
  width: 184px;
  height: 521px;
  background-image: url(../../assets/images/infobox.png);
  float: right;
  float: top;
  padding-top: 30px;
  margin-top: -30px;
  padding-bottom: 30px;
  margin-bottom: -30px;
  font: 400 25px "Lithos Pro", Helvetica, SansSerif;
  text-align: center;
  padding: 15px;
  padding-left: 35px;
  padding-top: 50px;
  color: #867558;
}

.departing_harbours{
  width: 100%;
  height: 60%;
  float: left;
  float: top;
}


.player_top_left {
}

.player_bottom_left {
}

.player_top_right {
}

.player_bottom_right {
}


/* Main Game Board */
.game_header{
  height: 13%;
  width: 100%;
  background-image: url("../../assets/images/title.png");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  margin-left: -2%;
}

.game_board{
  height: 74%;
  width: 100%;
}

.game_footer{
  height: 13%;
  width: 100%;
  border: none !important;
  background-color: transparent !important;
  /*background-color: rgba(50, 200, 50, 0.4);*/
}


/* Sub-Structure of Game_board */
.site_harbours{
  height: 100%;
  width: 15%;
  float: left;
}


.site_boards{
  height: 100%;
  width: 67%;
  float: left;
}

.market_site{
  height: 100%;
  width: 33%;
  float: left;
}

.market_harbour{
  height: 100%;
  width: 8%;
  float: left;
}

/* Sub-Structure of Site_boards */
.site_board{
  height: 25%;
  width: 100%;
  float: left;
  float: top;
}


/*
=============================================================================
=============================================================================
Styling for the new game modal
=============================================================================
=============================================================================
 */

.new_game_screen{
  padding-top:0%;
  padding-left:25%;
  padding-right:25%;
}

#new_game{
  font: 200 40px/1.2 'Lithos Pro', Helvetica, sans-serif;
  color: #867558;
  text-shadow: 3px 3px 2px #d4bd88;
  /*border: 1px solid black;*/
  text-align: center;
  margin-top: 0%;
  margin-bottom: 0%;
  padding-bottom: 3%;
}

#new_game_button{
  text-align: center;
  /*border: 1px solid black;*/
  outline: none;
}

#ngButton{
  display: inline-block;
  width: 40%;
  font-size: 150%;
  outline: none;
}

.modal {
  top: 17%;
  width: 1366px;
  height: 768px;
  /*border: 3px solid orangered;*/
}

.modal-dialog {
  width: 684px;
  height: auto;
}

.modal-content{
  background-color: #edcd98;
  color: #867558;
  width: 100%;
  float: left;
  float: top;
  font: 400 18px/1.2 'Lithos Pro', Helvetica, sans-serif;
}
.modal-header{
  border-bottom-color: #867558;
  border-bottom-width: 2px;
  border-radius: 50%;
}

.modal-header, h4, .close {
  background-color: #edcd98;
  color: #867558;
  font-size: 30px;
}

.modal-title{
  font-weight: bold;
  float: left;
}

#winner_title{
  width: 60%;
  float: left;
  padding: 0px;
  margin-top: 3%;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  text-align: center;

}

.trophy{
  width: 10%;
  float: left;
  margin: 0px;
  padding: 0px;
}

#trophy_right{
  margin-right: 10%;
}

#trophy_left{
  margin-left: 10%;
}

.modal-body {
  border-bottom-color: #867558;
}


.modal-footer {
  background-color: #edcd98;
  border-top-color: #edcd98;
  border-radius: 70%;
}


#btn_row_lower{
  margin-left: 28%;
}


.newgame_btn{
  width: 60%;
  height: 60px;
  font-size: 30px;
  float: left;
  border: 3px solid #d4bd88;
  outline: none;


  background-color: #edcd98;
  color: #867558;
}

.newgame_btn:active{
  background-color: #867558;
  border: 3px solid #867558;
  color: #edcd98;
  outline: none;
}

.newgame_btn:hover{
  box-shadow: 1px 1px 10px #867558;
  outline: none;
}


th{
  padding: 10px;
  text-align: center;
}

td{
  text-align: center;
}

table{
  font-size: 30px;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 25px;
}


#ngButton{
  visibility: hidden !important;
}

.playerField_3_empty{
  margin-top: -56.2%;
  background-image: url(../../assets/images/top_right_empty.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.playerField_4_empty{
  margin-top: -56.2%;
  background-image: url(../../assets/images/bottom_right_empty.png);
  background-size: cover;
  background-repeat: no-repeat;
}



/*
=============================================================================
=============================================================================
Styling for the gif animations
=============================================================================
=============================================================================
 */


/*shark*/

/*move from to*/
@-webkit-keyframes example_shark {
  from {
    transform: rotate(-180deg)
    translate(-380px)
  }
  to {
    transform: rotate(180deg)
    translate(-380px)
  }
}

#shark_1{


  filter        : blur(1px);
  -moz-filter   : blur(1px);
  -webkit-filter: blur(1px);
  -o-filter     : blur(1px);
  opacity: 0.4;
  width: 30px;
  height: 60px;
  background-image:url(../../assets/images/shark.gif);
  background-size:contain;
  background-repeat: no-repeat;
  position: relative;
  left: 440px;
  top: 350px;
  -webkit-animation-name: example_shark;
  -webkit-animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}


/*bird*/

/*move change at x% completion*/
@-webkit-keyframes example_bird_2 {
  0%  {left:530px; top:180px; -webkit-transform: rotate(270deg);}
  25% {left:330px; top:180px; -webkit-transform: rotate(360deg);}
  50% {left:330px; top:100px; -webkit-transform: rotate(450deg);}
  75% {left:530px; top:100px; -webkit-transform: rotate(540deg);}
  100%{left:530px; top:180px; -webkit-transform: rotate(630deg);}
}

#bird_2{
  width: 60px;
  height: 30px;
  background-image:url(../../assets/images/bird_2.gif);
  background-size:cover;
  position: relative;
  -webkit-animation-name: example_bird_2;
  -webkit-animation-duration: 240s;
  animation-iteration-count: infinite;
}


/*move change at x% completion*/
@-webkit-keyframes example_bird_1 {
  0%   {left:30px; top:500px; -webkit-transform: rotate(90deg);}
  25%  {left:200px; top:500px; -webkit-transform: rotate(180deg);}
  50%  {left:200px; top:600px; -webkit-transform: rotate(270deg);}
  75%  {left:200px; top:600px; -webkit-transform: rotate(360deg);}
  100% {left:30px; top:500px; -webkit-transform: rotate(450deg);}
}

#bird_1{
  width: 60px;
  height: 30px;
  background-image:url(../../assets/images/bird_2.gif);
  background-size:cover;
  position: relative;
  -webkit-animation-name: example_bird_1;
  -webkit-animation-duration: 360s;
  animation-iteration-count: infinite;
}

/*flying fish*/

/*move from to*/
@-webkit-keyframes example_flyingFish {
  from {left:650px; top:550px; -webkit-transform: rotate(0deg);}
  to {left:700px; top:600px; -webkit-transform: rotate(360deg);}
}

#flyingFish_1 {

  filter        : blur(1px);
  -moz-filter   : blur(1px);
  -webkit-filter: blur(1px);
  -o-filter     : blur(1px);
  width: 60px;
  height: 30px;
  background-image:url(../../assets/images/flyingFish_1.gif);
  background-size:cover;
  position: relative;
  -webkit-animation-name: example_flyingFish;
  -webkit-animation-duration: 240s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  -webkit-transition: -webkit-transform .8s ease-in-out;
  -webkit-transform-origin: left;
  -webkit-transform: translate(50%, 50%) rotate(90deg) ;
  border-radius: 50%;
}
