<div class="space_left"><div class="points_assignment"></div></div>
<div class="level_1">
  <div id="level1_space"></div>
  <div id="level1_fields">
    <div class="field" id="field_1"></div>
    <div class="field" id="field_2"></div>
    <div class="field" id="field_3"></div>
    <div class="field" id="field_4"></div>
    <div class="field" id="field_5"></div>
    <div class="field" id="field_6"></div>
    <div class="field" id="field_7"></div>
    <div class="field" id="field_8"></div>
    <div class="field" id="field_9"></div>
  </div>
</div>

<div class="space_1"></div>

<div class="level_2">
  <div id="level2_space"></div>
  <div id="level2_fields">
    <div class="field" id="field_10"></div>
    <div class="field" id="field_11"></div>
    <div class="field" id="field_12"></div>
    <div class="field" id="field_13"></div>
  </div>
</div>

<div class="space_2"></div>

<div class="level_3">
  <div id="level3_space"></div>
  <div class="field" id="field_14"></div>
</div>
