<!-- Contains the site's harbour -->

<div class="harbour_parent">
  <final-destination id="site_harbour_Pyramid" [id]="myEnum" [ship]="ship"></final-destination>
</div>


<div class="site_parent">

  <div class="space_left"><div class="points_assignment" id="pyramid"></div></div>
  <div class="level_1">
    <div id="level1_space"></div>
    <div id="level1_fields">

      <div *ngFor="let field_id1 of [1,4,7,2,5,8,3,6,9]"
           id="field_{{field_id1}}" class="field">

        <div *ngIf="stones[field_id1-1] != null">
          <app-stone [stone]="stones[field_id1-1]"></app-stone>
        </div>

      </div>

    </div>
  </div>

  <div class="space_1"></div>

  <div class="level_2">
    <div id="level2_space"></div>
    <div id="level2_fields">

      <div *ngFor="let field_id2 of [10, 12, 11, 13]"
           id="field_{{field_id2}}" class="field">

        <div *ngIf="stones[field_id2-1] != null">
          <app-stone [stone]="stones[field_id2-1]"></app-stone>
        </div>

      </div>

    </div>
  </div>

  <div class="space_2">
  </div>

  <div class="level_3">
    <div id="level3_space"></div>
    <div class="field" id="field_14">

      <div *ngIf="stones.length > 13 && stones[stones.length-1] != null">
        <app-stone [stone]="stones[stones.length-1]"></app-stone>
      </div>

    </div>
  </div>

</div>
