.space_left{
  height: 100%;
  width: 29%;
  float: top;
  float: left;
}

/*Test for hover over site name --> point assignment*/
.points_assignment{
  height: 30%;
  width: 100%;
  float: top;
  float: left;
  border: 1px solid black;
  margin-left: -20%;
}

.points_assignment:hover{
}

.space_1{
  height: 100%;
  width: 5%;
  float: top;
  float: left;
}

.space_2{
  height: 100%;
  width: 8%;
  float: top;
  float: left;
}

.level_1{
  height: 100%;
  width: 25.5%;
  float: top;
  float: left;
}

.level_2{
  height: 100%;
  width: 16.5%;
  float: top;
  float: left;
}

.level_3{
  height: 100%;
  width: 9%;
  float: top;
  float: left;
}

/* Spacing formatting for each level */

#level3_space{
  height: 46%;
  width: 100%;
  float: top;
  float: left;
}

#level2_space{
  height: 36%;
  width: 100%;
  float: top;
  float: left;
}

#level1_space{
  height: 22%;
  width: 100%;
  float: top;
  float: left;
}

#level1_fields{
  width: 100%;
  height: 79%;
  float: left;
  float: top;
}

#level2_fields{
  width: 100%;
  height: 51%;
  float: left;
  float: top;
}
/* All fields are formatted here */

.field{
  border: 1px solid red;
  float: left;
  float: top;
}



/* Level 1 fields */
#field_1, #field_2, #field_3, #field_4, #field_5, #field_6, #field_7, #field_8, #field_9{
  height: 33.333%;
  width: 33.333%;
}

/* Level 2 fields */
#field_10, #field_11, #field_12, #field_13{
  height: 50%;
  width: 50%;
}

/* Level 3 fields */
#field_14{
  height: 27%;
  width: 100%;
}
