<div class="cards_container">
  <div class="left_part">
    <div class="upper_quarter">
      <div class="card top_left_left"><span class="tooltiptext">hello</span></div><app-top-left-left></app-top-left-left>
      <div class="card top_middle_left"><span class="tooltiptext">hey</span></div><app-top-middle-left></app-top-middle-left>
      <div class="card top_middle_right"></div><app-top-middle-right></app-top-middle-right>
      <div class="card top_right_right"></div><app-top-right-right></app-top-right-right>
    </div>

    <div class="lower_quarter">
      <div class="card bottom_left_left"></div><app-bottom-left-left></app-bottom-left-left>
      <div class="card bottom_middle_left"></div><app-bottom-middle-left></app-bottom-middle-left>
      <div class="card bottom_middle_right"></div><app-bottom-middle-right></app-bottom-middle-right>
      <div class="card bottom_right_right"></div><app-bottom-right-right></app-bottom-right-right>
    </div>
  </div>

  <div class="right_part">
    <div class="mini_spacing"></div>
    <div class="purple_card"><span class="tooltiptext">hello</span></div><app-purple-card></app-purple-card>
    <div class="mini_spacing"></div>
  </div>
</div>
