<p>
  lobby-demo works!
</p>

<div class="container_lobby_screen">

  <p class="lobby_title">Lobby</p>

  <p>Howdy {{myself.username}} your user id is {{myself.id}}</p>

  <div class="user_list">
    <div class="container">

      <h2>List of Players</h2>

      <div>
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let user of users">{{user.username}}</li>
        </ul>
      </div>

    </div>
  </div>


  <div class="game_table">

    <div class="container">

      <h2>List of Games</h2>

      <table class="table table-striped">

        <tbody>
        <tr class="game-row" *ngFor="let game of games">
          <td>{{game.name}}</td>
          <td>{{game.players.length}} / {{game.numPlayers}}</td>
          <td>

            <button *ngIf="joinedGame!=game.id" class="btn btn-sm btn-primary btn-block" type="submit" (click)="joinGame(game.id)">Join</button>

            <button *ngIf="joinedGame==game.id" class="btn btn-sm btn-primary btn-block" type="submit" (click)="leaveGame(game.id)">Leave</button>
          </td>
        </tr>
        </tbody>

      </table>
    </div>

  </div>

  <button class="btn btn-sm btn-primary btn-block" type="submit" (click)="navigateToGame()">To-Game-tmp</button>


  <div class="new_game_screen">
    <h1>Add a New Game</h1>

    <button type="button" class="btn btn-primary" (click)="staticModal.show()">New Game</button>

    <div class="modal fade" bsModal #staticModal="bs-modal" [config]="{backdrop: 'static'}"
         tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title pull-left">New Game</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="staticModal.hide()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Add a New Game
            Number of Players:
            <button type="button"  (click)="addGame(2)">2</button>
            <button type="button"  (click)="addGame(3)">3</button>
            <button type="button"  (click)="addGame(4)">4</button>
            Click <b>&times;</b> to close modal.

          </div>
        </div>
      </div>
    </div>
  </div>


</div>

