.half{
  width: 100%;
  height: 50%;
  background-color: red;
}

.lower_left{
  width: 50%;
  height: 100%;
  float: top;
  float: left;
  background-color: green;
  /*Used to center the player-name*/
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
}

.lower_right{
  width: 50%;
  height: 100%;
  float: left;
  float: top;
}

.up{
  width: 100%;
  height: 50%;
  float: top;
  float: left;
  background-color: black;
}

.low_left{
  width: 50%;
  height: 50%;
  float: top;
  float: left;
  background-color: yellow;
}

.low_right{
  width: 50%;
  height: 50%;
  float: top;
  float: left;
  background-color: purple;
}
