@font-face {
  font-family: 'Lithos Pro';
  src: url("../../../../fonts/LithosPro-Regular.otf") format("opentype");
  font-style: normal;
}

p{
  font: 400 27px "Lithos Pro", Helvetica, Sans-Serif;
  vertical-align: bottom;
  color: white;
  text-align: center;
  display: inline-block;
  vertical-align: -50%;
  padding-left: 25%
}

.name_text{
  font: 400 20px "Lithos Pro", Helvetica, Sans-Serif;
  vertical-align: bottom;
  color: white;
  text-align: left;
  display: inherit;
  vertical-align: 0%;
  padding-left: 0%;
  padding-top: 3%;
}

.top_part{
  width: 100%;
  height: 70%;
  border: 1px solid orange;/*border: 1px solid orange;*/
}

.bottom_part{
  width: 100%;
  height: 30%;
  border: 1px solid #5b94ff;/*border: 1px solid #44ff62;*/
}

.lower_left{
  width: 50%;
  height: 100%;
  float: top;
  float: left;
  /*Used to center the player-name*/
  font: 400 20px "Lithos Pro", Helvetica, SansSerif;
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  padding: 15px;
}

.lower_right{
  width: 50%;
  height: 100%;
  float: left;
  float: top;
}

.score{
  background-image: url("../../../../assets/images/score.png");
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #ff1e1a;/*border: 1px solid #44ff62;*/
}

.supply_sled{
  border: 1px solid #ff1e1a;/*border: 1px solid #44ff62;*/
  background-image: url("../../../../assets/images/supply_sled.png");
  background-repeat: no-repeat;
  background-position: center;
  z-index: 100;/*Roland: do not change, used for jquery logic*/
}


.quarry{
  background-image: url("../../../../assets/images/quarry.png");
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #ff1e1a;/*border: 1px solid #44ff62;*/
}

.low{
  width: 30%;
  height: 100%;
  float: top;
  float: left;
}

.player_name{
  height: 30%;
  float: left;
  padding-top: 1%;
  vertical-align: bottom;
  border: 1px solid #87cbff;/*border: 1px solid #87cbff;;*/
}


/* copied from cards.component.css */

.cards_container{
  height: 65%;
  width: 100%;
  float: left;
  border: 1px solid #44ff62;/*border: 1px solid #44ff62;*/
}

.left_part{
  width: 60%;
  height: 100%;
  float: left;
  float: top;
}

.right_part{
  width: 20%;
  height: 100%;
  float: left;
  float: top;
  border: 1px solid #88a3ff;/*border: 1px solid #44ff62;*/
}

.upper_quarter{
  width: 100%;
  height: 50%;
}

.lower_quarter{
  width: 100%;
  height: 50%;
}

.mini_spacing{
  height:25%;
  width: 100%;
}

.purple_card{
  /*border: 1px solid #44ff62;*/
  height:65%;
  width:65%;
  margin-top:20%;
}

.card{
  width: 25%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  float: left;
  float: top;
  border: 2px solid transparent;
}

/*Roland: Replaced html images with css background images*/

.bll_icon{
  height: 100%;
  width: 100%;
  background-image: url("../../../../assets/images/icons/chisel.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position:relative;
  display:block;
}

.bml_icon{
  height: 100%;
  width: 100%;
  background-image: url("../../../../assets/images/icons/hammer.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position:relative;
  display:block;
}

.bmr_icon{
  height: 100%;
  width: 100%;
  background-image: url("../../../../assets/images/icons/sail.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position:relative;
  display:block;
}

.brr_icon{
  height: 100%;
  width: 100%;
  background-image: url("../../../../assets/images/icons/lever.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position:relative;
  display:block;
}

.purple_icon{
  height: 100%;
  width: 100%;
  background-image: url("../../../../assets/images/icons/statue.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  position:relative;
  display:block;

}

.tll_icon{
  height: 100%;
  width: 100%;
  background-image: url("../../../../assets/images/icons/pyramiddec.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position:relative;
  display:block;
}

.tml_icon{
  height: 100%;
  width: 100%;
  background-image: url("../../../../assets/images/icons/templedec.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position:relative;
  display:block;
}

.tmr_icon{
  height: 100%;
  width: 100%;
  background-image: url("../../../../assets/images/icons/burialdec.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position:relative;
  display:block;
}

.trr_icon{
  height: 100%;
  width: 100%;
  background-image: url("../../../../assets/images/icons/obeliskdec.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position:relative;
  display:block;
}


#stone_label{
  z-index:200;
  top:0px;
  left:0px;
  margin-bottom:50px;
  border: 1px solid #ff19c7;/*border: 1px solid #44ff62;*/
  position:relative;
}









