<div class="top_part">
  <div class="player_name">
    <p id="glow" class = name_text>{{playerName}}</p>
  </div>
  <!-- copied from cards.component.html -->
  <div class="cards_container">

    <div class="left_part">
      <div class="upper_quarter">
        <div class="card top_left_left"><div id="tll_1" class="tll_icon"><p style="position:absolute;">{{marketCards[1]}}</p></div></div>
        <div class="card top_middle_left"><div id="tml_1" class="tml_icon"><p style="position:absolute;">{{marketCards[2]}}</p></div></div>
        <div class="card top_middle_right"><div id="tmr_1" class="tmr_icon"><p style="position:absolute;">{{marketCards[3]}}</p></div></div>
        <div class="card top_right_right"><div id="trr_1" class="trr_icon"><p style="position:absolute;">{{marketCards[4]}}</p></div></div>
      </div>

      <div class="lower_quarter">
        <div id="bll_1_" class="card bottom_left_left"><div id="bll_1" class="bll_icon"><p style="position:absolute;">{{marketCards[5]}}</p></div></div>
        <div id="bml_1_" class="card bottom_middle_left"><div id="bml_1" class="bml_icon"><p style="position:absolute;">{{marketCards[6]}}</p></div></div>
        <div id="bmr_1_" class="card bottom_middle_right"><div id="bmr_1" class="bmr_icon"><p style="position:absolute;">{{marketCards[7]}}</p></div></div>
        <div id="brr_1_" class="card bottom_right_right"><div id="brr_1" class="brr_icon"><p style="position:absolute;">{{marketCards[8]}}</p></div></div>
      </div>
    </div>

    <div class="right_part">
      <div class="purple_card"><div id="purple_1" class="purple_icon"><p style="position:absolute; margin-top:20%;">{{marketCards[0]}}</p></div></div>
    </div>
  </div>
  <!-- copied from cards.component.html -->
</div>


<div class="bottom_part">
  <div class="low_l score">
    <p>{{score}}</p>
  </div>
  <!--drag and drop zone-->
  <div id="supply_sled_1" class="low_m supply_sled_1"
       (mouseover)=show_hide_stone_onMouseOver()
       (mouseleave)=show_hide_stone_onMouseLeave()
       [dragula]="'stone_slots_bag'">

      <app-stone id="stones_1" [stone]="playerFieldStone" class="you-may-copy-us"></app-stone>

      <div >
        <p id="stone_label_1">{{sledStones}}/5</p>
      </div>

  </div>

  <div id="quarry_1" class="low_r quarry">
    <p>{{quarryStones}}</p>
  </div>
</div>

