.half{
  width: 100%;
  height: 50%;
  background-color: rgba(0, 0, 250, 0.4);
}

.lower_left{
  width: 50%;
  height: 100%;
  float: top;
  float: left;
  background-color: rgba(250, 250, 250, 0.4);
  /*Used to center the player-name*/
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
}

.lower_right{
  width: 50%;
  height: 100%;
  float: left;
  float: top;
}

.up{
  width: 100%;
  height: 50%;
  float: top;
  float: left;
  background-color: rgba(0, 0, 0, 0.4);
}

.low_left{
  width: 50%;
  height: 50%;
  float: top;
  float: left;
  background-color: rgba(0, 250, 0, 0.4);
  background-image: url("../../../../images/score.png");
  background-repeat: no-repeat;
  background-position: center;
}

.low_right{
  width: 50%;
  height: 50%;
  float: top;
  float: left;
  background-color: rgba(250, 0, 250, 0.4);
}
