<!--expects ship.id from 1 to 4 to match a style in ship.component.css-->
<div id="ship_{{ship.id}}" class="ship_size_{{ship.size}}">
  <!--add slots container-->
  <div id="ship_{{ship.id}}_slots" class="ship_slots">
    <!--add slots to slots container of ship_i-->
    <div *ngFor="let slots of ship.slots; let j= index"
         id="ship_{{ship.id}}_slot_{{j+1}}" class="ship_slot"
         [dragula]="'stone_slots_bag'"><div *ngIf="stonesOnShip[j] != null"  id="ngifStone"><app-stone class="appStone" [stone] = stonesOnShip[j] ></app-stone></div></div><!-- innerHTML no space, no new line allowed-->
  </div><!--do not change anything, not a space not a new line!!-->
</div>

