/* Ships */

.ship_1{
  position:relative; top:20%; width:225px; height:70px;
  background-image:url("../../../assets/images/ship_1.png"); background-repeat: no-repeat;
  background-position: center;
}
.ship_2{
  position:relative; top:20%; width:225px; height:70px;
  background-image:url("../../../assets/images/ship_2.png"); background-repeat: no-repeat;
  background-position: center;
}
.ship_3{
  position:relative; top:20%; width:225px; height:70px;
  background-image:url("../../../assets/images/ship_3.png"); background-repeat: no-repeat;
  background-position: center;
}
.ship_4{
  position:relative; top:20%; width:225px; height:70px;
  background-image:url("../../../assets/images/ship_4.png"); background-repeat: no-repeat;
  background-position: center;
}

/* Ship Slots */

.ship_slots{
  width: 77%;
  height:100%;
}

#ship_1_slot_1{ margin-top: 10%; margin-right: 3%; margin-left: 2.3%; width: 19.5%; height:51%; float:right; border: 1px solid #0c0c0c; }
#ship_1_slot_2{ margin-top: 10%; margin-left: 2.3%;  width: 19.5%; height:51%; float:right; border: 1px solid #0c0c0c; }
#ship_1_slot_3{ margin-top: 10%; margin-left: 2.3%;  width: 19.5%; height:51%; float:right; border: 1px solid #0c0c0c; }
#ship_1_slot_4{ margin-top: 10%; margin-left: 2.3%;  width: 19.5%; height:51%; float:right; border: 1px solid #0c0c0c; }

#ship_2_slot_1{ margin-top: 10%; margin-right: 3%; margin-left: 2.3%; width: 19.5%; height:51%; float:right; border: 1px solid #0c0c0c; }
#ship_2_slot_2{ margin-top: 10%; margin-left: 2.3%;  width: 19.5%; height:51%; float:right; border: 1px solid #0c0c0c; }
#ship_2_slot_3{ margin-top: 10%; margin-left: 2.3%;  width: 19.5%; height:51%; float:right; border: 1px solid #0c0c0c; }
#ship_2_slot_4{ margin-top: 10%; margin-left: 2.3%;  width: 19.5%; height:51%; float:right; border: 1px solid #0c0c0c; }

#ship_3_slot_1{ margin-top: 10%; margin-right: 3%; margin-left: 2.3%; width: 19.5%; height:51%; float:right; border: 1px solid #0c0c0c; }
#ship_3_slot_2{ margin-top: 10%; margin-left: 2.3%;  width: 19.5%; height:51%; float:right; border: 1px solid #0c0c0c; }
#ship_3_slot_3{ margin-top: 10%; margin-left: 2.3%;  width: 19.5%; height:51%; float:right; border: 1px solid #0c0c0c; }
#ship_3_slot_4{ margin-top: 10%; margin-left: 2.3%;  width: 19.5%; height:51%; float:right; border: 1px solid #0c0c0c; }

#ship_4_slot_1{ margin-top: 10%; margin-right: 3%; margin-left: 2.3%; width: 19.5%; height:51%; float:right; border: 1px solid #0c0c0c; }
#ship_4_slot_2{ margin-top: 10%; margin-left: 2.3%;  width: 19.5%; height:51%; float:right; border: 1px solid #0c0c0c; }
#ship_4_slot_3{ margin-top: 10%; margin-left: 2.3%;  width: 19.5%; height:51%; float:right; border: 1px solid #0c0c0c; }
#ship_4_slot_4{ margin-top: 10%; margin-left: 2.3%;  width: 19.5%; height:51%; float:right; border: 1px solid #0c0c0c; }

