/* Ships of size (no of slots) 1, 2, 3 or 4*/
.ship_size_1{
  animation-name: ship;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  animation-duration: 2s;
  animation-delay: 0.5s;

  width:225px;
  height:70px;
  background-image:url("../../../assets/images/ship_1.png"); background-repeat: no-repeat;
  background-position: center;
  /*border: 1px solid #0726aa;/*border: 1px solid #44ff62;*/
  margin-top:7%;
}
.ship_size_2{
  animation-name: ship;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  animation-duration: 2.2s;
  animation-delay: 0.7s;

  width:225px;
  height:70px;
  background-image:url("../../../assets/images/ship_2.png"); background-repeat: no-repeat;
  background-position: center;
  /*border: 1px solid #0613aa;/*border: 1px solid #44ff62;*/
  margin-top:7%;
}
.ship_size_3{
  animation-name: ship;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  animation-duration: 2.7s;
  animation-delay: 0.1s;

  width:225px;
  height:70px;
  background-image:url("../../../assets/images/ship_3.png"); background-repeat: no-repeat;
  background-position: center;
  /*border: 1px solid #0909aa;/*border: 1px solid #44ff62;*/
  margin-top:7%;
}
.ship_size_4{
  animation-name: ship;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  animation-duration: 2.4s;
  animation-delay: 0.9s;

  width:225px;
  height:70px;
  background-image:url("../../../assets/images/ship_4.png"); background-repeat: no-repeat;
  background-position: center;
  /*border: 1px solid #0617aa;/*border: 1px solid #44ff62;*/
  margin-top:7%;
}
/* Ship Slots */
.ship_slots{
  margin-left: 1%;
  padding-right: 3%;
  width: 80%;
  height:100%;
  /*border: 5px solid #33aa35;/*border: 1px solid #44ff62;*/
}

/*ship_id_slot_x; x= 4 | 3 | 2 | 1 ;
 not all slots may be needed for smaller ships*/
#ship_1_slot_1 {
  margin-top: 9.5%;
  width: 23%;
  height: 65%;
  float: right;
  padding-top: 2%;
  /*border: 3px solid #0c0c0c;*/
}

#ship_1_slot_2 {
  margin-top: 9.5%;
  padding-top: 2%;
  width: 23%;
  height: 65%;
  float: right;
  /*border: 3px solid #0c0c0c;*/
}

#ship_1_slot_3 {
  margin-top: 9.5%;
  padding-top: 2%;
  width: 21%;
  height: 65%;
  float: right;
  /*border: 3px solid #0c0c0c;*/
}

#ship_1_slot_4 {
  margin-top: 9.5%;
  padding-top: 1%;
  width: 21%;
  height: 62%;
  float: right;
  /*border: 3px solid #0c0c0c;*/
}

#ship_2_slot_1 {
  margin-top: 9.5%;
  padding-top: 2%;
  width: 23%;
  height: 65%;
  float: right;
  /*border: 3px solid #0c0c0c;*/
}

#ship_2_slot_2 {
  margin-top: 9.5%;
  padding-top: 2%;
  width: 23%;
  height: 65%;
  float: right;
  /*border: 3px solid #0c0c0c;*/
}

#ship_2_slot_3 {
  margin-top: 9.5%;
  padding-top: 2%;
  width: 21%;
  height: 65%;
  float: right;
  /*border: 3px solid #0c0c0c;*/
}

#ship_2_slot_4 {
  margin-top: 9.5%;
  padding-top: 1%;
  width: 23%;
  height: 65%;
  float: right;
  /*border: 3px solid #0c0c0c;*/
}

#ship_3_slot_1 {
  margin-top: 9.5%;
  padding-top: 2%;
  width: 23%;
  height: 65%;
  float: right;
  /*border: 3px solid #0c0c0c;*/
}

#ship_3_slot_2 {
  margin-top: 9.5%;
  padding-top: 2%;
  width: 23%;
  height: 65%;
  float: right;
  /*border: 3px solid #0c0c0c;*/
}

#ship_3_slot_3 {
  margin-top: 9.5%;
  padding-top: 2%;
  width: 21%;
  height: 65%;
  float: right;
  /*border: 3px solid #0c0c0c;*/
}

#ship_3_slot_4 {
  margin-top: 9.5%;
  padding-top: 1%;
  width: 23%;
  height: 65%;
  float: right;
  /*border: 3px solid #0c0c0c;*/
}

#ship_4_slot_1 {
  margin-top: 9.5%;
  padding-top: 2%;
  width: 23%;
  height: 65%;
  float: right;
  /*border: 3px solid #0c0c0c;*/
}

#ship_4_slot_2 {
  margin-top: 9.5%;
  padding-top: 2%;
  width: 23%;
  height: 65%;
  float: right;
  /*border: 3px solid #0c0c0c;*/
}

#ship_4_slot_3 {
  margin-top: 9.5%;
  padding-top: 2%;
  width: 23%;
  height: 65%;
  float: right;
  /*border: 3px solid #0c0c0c;*/
}

#ship_4_slot_4 {
  margin-top: 9.5%;
  padding-top: 1%;
  width: 23%;
  height: 65%;
  float: right;
  /*border: 3px solid #0c0c0c;*/
}


@keyframes ship {
  from {transform: rotate(-1.5deg) scale(1)}
  to {transform: rotate(1.5deg) scale(0.98)}
}
