


<!-- DYNAMIC VERSION-->

<div id="departing_harbours" class="departing_harbours">

  <div *ngFor="let num of [1,2,3,4]"
       id="departing_harbour_{{num}}" class="departing_harbour" [dragula]="'harbours_bag'">

    <div *ngIf="ships[num-1] != null" id="ngifShip">
      <app-ship class="appShip" [ship]="ships[num-1]" [stonesOnShip]="stonesOnShip[num-1]"></app-ship>
    </div><!--do not change anything-->

  </div>

</div>


<!--drag and drop zone, old version:
<div id="departing_harbours" class="departing_harbours">

  <div *ngFor="let ship of ships; let i = index"
       id="departing_harbour_{{i+1}}" class="departing_harbour"
       [dragula]="'harbours_bag'">

    <app-ship [ship]="ship"></app-ship>

  </div>

</div>
-->
