#departing_harbours{float:left; width: 100%; height:100%; padding-left: 3%; padding-top: 18%;}
#departing_harbour_1{width: 100%; height:25%; }
#departing_harbour_2{width: 100%; height:25%; }
#departing_harbour_3{width: 100%; height:25%; }
#departing_harbour_4{width: 100%; height:25%; }

