<div id="departing_harbours" class="departing_harbours">

  <div *ngFor="let ship of ships; let num = index"
       id="departing_harbour_{{num}}" class="departing_harbour">

<div *ngIf="ship">
    <div dnd-draggable [dragEnabled]="((!sailPlayed && sailMove == null) || (sailPlayed && sailMove != null)) && !chiselPlayed && !hammerPlayed && ship.draggable && isActive" [dropZones]="['sites']" [dragData]="ship">

      <app-ship class="appShip"
                *ngIf="ship.isInHarbour"
                [ship]="ship" [sailPlayed]="sailPlayed"></app-ship>

    </div>
</div>

  </div>

</div>
