
.harbour_parent{
  width: 22%;
  height: 100%;
  float: left;
}

.site_parent{
  width: 78%;
  height: 100%;
  float: left;
}


#space_left{
  float: left;
  float: top;
  height: 100%;
  width: 17.5%;
}

.points_assignment{
  height: 30%;
  margin-top: -15%;
  margin-left: -70%;
  width: 135%;
}

#space_top{
  float: right;
  float: top;
  height: 15%;
  width: 82.5%;
}

#fields{
  float: left;
  height: 82%;
  width: 77%;
}


/* Field Formatting */

.field{
  /*border: 1px solid red;*/
  float: left;
  width: 11.111%;
  height: 33.333%;
}

/*
_________________________
_________________________

FIRE ANIMATION
_________________________
_________________________
 */


.container{
  z-index: 100 !important;
  width: 20px;
  height: 15px;
  position:relative;
  transform-origin:center bottom;
  animation-name: flicker;
  animation-duration: 3ms;
  animation-delay: 200ms;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  /*border: 2px solid white;*/
  margin-top: 23.5%;
  margin-left: 21%;
}

.container2{
  z-index: 100 !important;
  width: 20px;
  height: 15px;
  position:relative;
  transform-origin:center bottom;
  animation-name: flicker2;
  animation-duration: 3ms;
  animation-delay: 200ms;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  /*border: 2px solid black;*/
  margin-top: -3%;
  margin-left: 63%;
}

.flame{
  z-index: -100 !important;
  bottom:0;
  position:absolute;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%;
  transform:rotate(-45deg) scale(1.5,1.5);
}

.red{
  z-index: -100 !important;
  left: 5px;
  width: 10px;
  height: 10px;
  background: red;
  box-shadow: 0px 0px 2px 2px red;
}

.orange{
  z-index: -100 !important;
  left: 6px;
  width: 8px;
  height: 8px;
  background:orangered;
  box-shadow: 0px 0px 2px 2px orangered;
}

.yellow{
  z-index: -100 !important;
  left: 6px;
  width: 6px;
  height: 6px;
  background: orange;
  box-shadow: 0px 0px 2px 2px orange;
}

.white{
  z-index: -100 !important;
  left: 8px;
  bottom: -2px;
  width: 1px;
  height: 1px;
  background: white;
  box-shadow: 0px 0px 2px 2px white;
}

.circle{
  z-index: -100 !important;
  border-radius: 50%;
  position:absolute;
}


@keyframes flicker{
  0%   {transform: rotate(-2deg);}
  20%  {transform: rotate(2deg);}
  40%  {transform: rotate(-2deg);}
  60%  {transform: rotate(2deg) scaleY(1.04);}
  80%  {transform: rotate(-3deg) scaleY(0.92);}
  100% {transform: rotate(2deg);}
}

@keyframes flicker2{
  0%   {transform: rotate(-2deg);}
  20%  {transform: rotate(2deg);}
  40%  {transform: rotate(-2deg);}
  60%  {transform: rotate(2deg) scaleY(1.04);}
  80%  {transform: rotate(-3deg) scaleY(0.92);}
  100% {transform: rotate(2deg);}
}
