
.harbour_parent{
  width: 22%;
  height: 100%;
  float: left;
}

.site_parent{
  width: 78%;
  height: 100%;
  float: left;
}


#space_left{
  float: left;
  float: top;
  height: 100%;
  width: 17.5%;
}

.points_assignment{
  height: 30%;
  margin-top: -15%;
  margin-left: -70%;
  width: 135%;
}

#space_top{
  float: right;
  float: top;
  height: 15%;
  width: 82.5%;
}

#fields{
  float: left;
  height: 82%;
  width: 77%;
}


/* Field Formatting */

.field{
  /*border: 1px solid red;*/
  float: left;
  width: 11.111%;
  height: 33.333%;
}

