
<div class="harbour_parent">
  <final-destination id="site_harbour_BurialChamber" [parent]="myComp" [id]="'BurialChamber'" [ship]="ship"></final-destination>
</div>


<div class="site_parent">


<div id="space_left">
  <div class="points_assignment" id="burial"></div>
</div>
<div id="space_top"></div>


<div id="fields">
  <div *ngFor="let field_id1 of [1,4,7,10,13,16,19,22,25]"
       id="field_{{field_id1}}" class="field">

    <div *ngIf="stones[field_id1-1] != null">
      <app-stone [stone]="stones[field_id1-1]"></app-stone>
    </div>

  </div>

  <div *ngFor="let field_id2 of [2,5,8,11,14,17,20,23,26]"
       id="field_{{field_id2}}" class="field">

    <div *ngIf="stones[field_id2-1] != null">
      <app-stone [stone]="stones[field_id2-1]"></app-stone>
    </div>

  </div>

  <div *ngFor="let field_id3 of [3,6,9,12,15,18,21,24,27]"
       id="field_{{field_id3}}" class="field">

    <div *ngIf="stones[field_id3-1] != null">
      <app-stone [stone]="stones[field_id3-1]"></app-stone>
    </div>

  </div>
</div>

</div>




