<p>drag works!</p>

<!--drag and drop zone-->
<div id="departing_harbours">

  <div id="departing_harbour_1"  (drop)="drop($event)" (dragover)="allowDrop($event)">

    <!--draggable image zone-->
    <p>departing_harbour_1</p>
    <img id="ship_1" src="../../../assets/images/ship_4.png" draggable="true" (dragstart)="drag($event)" />

  </div>

  <div id="departing_harbour_2"  (drop)="drop($event)" (dragover)="allowDrop($event)">

    <!--draggable image zone-->
    <p>departing_harbour_2</p>
    <img id="ship_2" src="../../../assets/images/ship_4.png" draggable="true" (dragstart)="drag($event)" />

  </div>

  <div id="departing_harbour_3"  (drop)="drop($event)" (dragover)="allowDrop($event)">

    <!--draggable image zone-->
    <p>departing_harbour_3</p>
    <img id="ship_3" src="../../../assets/images/ship_4.png" draggable="true" (dragstart)="drag($event)" />

  </div>

  <div id="departing_harbour_4"  (drop)="drop($event)" (dragover)="allowDrop($event)">

    <!--draggable image zone-->
    <p>departing_harbour_4</p>
    <img id="ship_4" src="../../../assets/images/ship_4.png" draggable="true" (dragstart)="drag($event)" />

  </div>

</div>
