<div class="space">
  <div class="market_info" id="market"></div>
</div>


<!--add marketCardSlot_i-->
<div *ngFor="let marketCard of marketCards; let i = index"
     id="market_card_slot_{{i+1}}" class="market_card_slot card">

  <!--add marketCard_i to market-->
  <div class="left_spacing"></div>
  <div id="market_card_{{i+1}}" class="market_card_{{i+1}} card_picture"
       [ngStyle]="{ 'background-image': 'url(' + marketCard.imageUrl + ')' }"></div>
</div>


<!-- Roland: old version
<div class="card" id="card1">
  <div class="left_spacing"></div>
  <div class="card_picture" id="first"></div>
</div>
<div class="space" id="space1"></div>
<div class="card" id="card2">
  <div class="left_spacing"></div>
  <div class="card_picture" id="second"></div>
</div>
<div class="space" id="space2"></div>
<div class="card" id="card3">
  <div class="left_spacing"></div>
  <div class="card_picture" id="third"></div>
</div>
<div class="space" id="space3"></div>
<div class="card" id="card4">
  <div class="left_spacing" id="left_spacing"></div>
  <div class="card_picture" id="last"></div>
</div>
-->


