<div class="site_parent">

  <div class="space">
    <div class="market_info" id="market"></div>
  </div>


  <!--add marketCardSlot_i-->
  <div *ngFor="let card of marketCards; let i = index"
       id="market_card_slot_{{i+1}}" class="market_card_slot">

    <!--add marketCard_i to market-->
    <div class="left_spacing"></div>
    <div *ngIf="marketCards[i]" id="ngifMarketCards" class="market_card_slot card">
      <div id="market_card_{{i+1}}" class="market_card_{{i+1}} card_picture"
           onclick="takeMarketCard(i)" [ngStyle]="{ 'background-image': 'url(' + marketCards[i].imageUrl + ')' }">
      </div>
    </div>
  </div>

</div>


<div class="harbour_parent">
  <final-destination id="site_harbour_Market" [parent]="myComp" [id]="'Market'" [ship]="ship"></final-destination>
</div>

