
.harbour_parent{
  width: 60%;
  height: 30%;
  float: left;
  margin-top: -110%;
  margin-left: 80%;
  transform: rotate(90deg);
}

.site_parent{
  width: 78%;
  height: 100%;
  float: left;
}



.market_info{
  width: 55%;
  height: 50%;
  /*border: 1px solid red;*/
  border-radius: 6px;
  margin-top: 20%;
  float: left;

}

.space{
  width: 100%;
  height: 13%;
  float: top;
  float: left;
}

#space1{
  height: 10%;
  border: 1px solid black;
}

#space2{
  height: 2%;
}

#space3{
  height: 4%;
}

.left_spacing{
  width: 5%;
  height: 100%;
  float: left;
  float: top;
}

.card_picture{
  width: 80%;
  height: 100%;
  border: 3px solid black;
  border-radius: 6px;
  float: left;
  float: top;
  -webkit-transition: -webkit-transform 0.4s;
  transition: transform 0.3s;
}

.card_picture:hover {
  -webkit-transform: scale(1.8) rotate(0.01deg);
  transform: scale(1.8) rotate(0.01deg);
  position: relative;
  z-index: 1000000;
}

#first{
  background-image: url("../../../assets/images/cards/entrance.png");
  background-size:cover;
  background-repeat: no-repeat;
}

#second{
  background-image: url("../../../assets/images/cards/entrance.png");
  background-size:cover;
  background-repeat: no-repeat;
}

#third{
  background-image: url("../../../assets/images/cards/entrance.png");
  background-size:cover;
  background-repeat: no-repeat;
}

#last{
  background-image: url("../../../assets/images/cards/entrance.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.card{
  width: 100%;
  height: 96px;
  float: top;
  float: left;
}

/*Roland: New classes replacing old above */

#market_card_1{
  background-size:cover;
  background-repeat: no-repeat;
}

#market_card_2{
  background-size:cover;
  background-repeat: no-repeat;
}

#market_card_3{
  background-size:cover;
  background-repeat: no-repeat;
}

#market_card_4{
  background-size: cover;
  background-repeat: no-repeat;
}

.market_card_slot{
  margin: 3%;
}
