<div class="container_info_box">
  <p>Round <br /> {{roundNumber+1}} of 6</p>

  <!-- <button class="leave_btn btn btn-sm btn-primary btn-block" type="submit" [routerLink]="['/lobby']">Leave</button> -->

  <!-- Call Leave Button -->
    <div id="new_game_button">
      <button type="button" class="leave_btn btn btn-sm btn-primary btn-block" id="ngButton"
              (click)="staticModal.show()">Leave</button>
    </div>
  <!-- Modal: Leave Game -->
  <div class="modal fade" bsModal #staticModal="bs-modal" [config]="{backdrop: 'static'}"
       tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">

        <div id="quit_title" class="modal-header">
          <h4 class="modal-title pull-left">Do you really want to quit?</h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="staticModal.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <div class="row" id="btn_row_lower">
            <!--leave modal-->
            <div id="backToLobby">
              <button type="button" class="newgame_btn btn btn-primary"
                      id="ngButton1" (click)="leaveGame()">Yes</button>
            </div>

            <!--add game and leave modal-->
            <div id="CreateNewGame">
              <button type="submit" class="newgame_btn btn btn-primary"
                      id="ngButton2" (click)="staticModal.hide()" >No</button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>



  <!-- Call Lever Button -->
  <div id="lever_button">
    <button id="lever_btn" type="button" class="lever_btn btn btn-sm btn-primary btn-block"
            (click)="leverModal.show()">Lever</button>
  </div>

  <!-- Modal: Lever -->
  <div class="modal fade" bsModal #leverModal="bs-modal" [config]="{backdrop: 'static'}"
       tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">

        <div id="lever_title" class="modal-header">
          <h4 class="modal-title2 pull-left">Choose the order of the stones:</h4>
        </div>

        <div class="modal-body">
          <div class="ship" *ngIf="ships != null">

            <!-- TODO get correct ship ID and use below!! -->

            <app-ship class="shipimg" *ngIf="ships[0] != null" [ship]="ships[0]"></app-ship>

            <div *ngIf="leverStones != null" class="stones">

              <div *ngFor="let num of [0,1,2,3];"
                   class="stone"
                   dnd-draggable [dragData]="leverStones[num]" [dropZones]="['slots']" (drag)="leverStones[num] = null;">

                  <app-stone *ngIf="leverStones[num] != null" [stone] = leverStones[num] ></app-stone>

              </div>

            </div>

          </div>


          <div class="row">
            <!-- go back to game-->

            <!-- click done button after choosing order of stones-->
            <div id="Done">
              <button type="button" class="finish_btn btn btn-primary"
                      id="ngButton5" (click)="sendLeverOrder(); leverModal.hide()" >Done</button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>






</div>
