<div class="container_info_box">
  <p>Round <br /> {{roundNumber+1}} of 6</p>

  <!-- <button class="leave_btn btn btn-sm btn-primary btn-block" type="submit" [routerLink]="['/lobby']">Leave</button> -->



  <!-- Button trigger modal -->
  <button id="gameManual" class="btn btn-lg btn-primary btn-lg" style="margin-left: 1%" data-toggle="modal" data-target="#myModal">Manual</button>


  <!-- Modal -->
  <div class="manual modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="manual-dialog modal-dialog">
      <div class="manual-content modal-content">
        <div class="manual-header modal-header">
          <button type="button" class="manual-close close" data-dismiss="modal" aria-hidden="true">×</button>
          <h4 class="manual-title modal-title" id="myModalLabel">Imhotep Game Manual</h4>
        </div>
        <div class="manual-body modal-body">
          <div>

            <iframe src="../../assets/Imhotep_Manual.pdf#zoom=126%"
                    id="manualsize" frameborder="0">
              <param name="view" value="Fit" />
            </iframe>

          </div>

        </div>
      </div>
    </div>
  </div>




  <!-- Call Leave Button -->
    <div id="new_game_button">
      <button type="button" class="leave_btn btn btn-sm btn-primary btn-block" id="ngButton"
              (click)="staticModal.show()">Leave</button>
    </div>
  <button id="pause" class="btn btn-lg btn-primary btn-lg" style="margin-left: 1%" data-toggle="" data-target="">
    <span *ngIf="sound" (click)="toggleGlyphicon()" onclick="document.getElementById('audio').pause()" class="glyphicon glyphicon-volume-off"></span>
    <span *ngIf="!sound" (click)="toggleGlyphicon()" onclick="document.getElementById('audio').play()" class="glyphicon glyphicon-volume-up"></span>
  </button>

  <!-- Modal: Leave Game -->
  <div class="modal fade" bsModal #staticModal="bs-modal" [config]="{backdrop: 'static'}"
       tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">

        <div id="quit_title" class="modal-header">
          <h4 class="modal-title pull-left">Do you really want to quit?</h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="staticModal.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body">
          <div class="row" id="btn_row_lower">
            <!--leave modal-->
            <div id="backToLobby">
              <button type="button" class="newgame_btn btn btn-primary"
                      id="ngButton1" (click)="leaveGame()">Yes</button>
            </div>

            <!--add game and leave modal-->
            <div id="CreateNewGame">
              <button type="submit" class="newgame_btn btn btn-primary"
                      id="ngButton2" (click)="staticModal.hide()" >No</button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>



  <!-- Call Lever Button -->
  <div id="lever_button">
    <button id="lever_btn" type="button" class="lever_btn btn btn-sm btn-primary btn-block"
            (click)="leverModal.show()">Lever</button>
  </div>

  <!-- Modal: Lever -->
  <div class="modal fade" bsModal #leverModal="bs-modal" [config]="{backdrop: 'static'}"
       tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">

        <div id="lever_title" class="modal-header">
          <h4 class="modal-title2 pull-left">Choose the order of the stones:</h4>
        </div>

        <div class="modal-body">
          <div class="ship" *ngIf="ships != null">

            <!-- TODO get correct ship ID and use below!! -->

            <app-ship class="shipimg" *ngIf="ships[leverShip] != null" [ship]="ships[leverShip]"></app-ship>

            <div *ngIf="leverStones != null" class="stones">

              <div *ngFor="let num of [0,1,2,3];"
                   class="stone"
                   dnd-draggable [dragData]="leverStones[num]" [dropZones]="['slots']" (onDragSuccess)="leverStones[num] = null;">

                  <app-stone *ngIf="leverStones[num] != null" [stone] = leverStones[num] ></app-stone>

              </div>

            </div>

          </div>


          <div class="row">
            <!-- go back to game-->

            <!-- click done button after choosing order of stones-->
            <div id="Done">
              <button type="button" class="finish_btn btn btn-primary"
                      id="ngButton5" (click)="sendLeverOrder();" >Done</button>
              <button id="hidden_btn" (click)="leverModal.hide()"></button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>






</div>
