.container_info_box{

}

p{
  color: #aa895b;
  text-shadow: 1px 1px 13px black;
}

.leave_btn{
  position: absolute;
  bottom: 25%;
  right: 10%;
  max-width: 100px;
  margin: 0 auto;
}

.btn{
  background-color: #aa895b;
  border: 3px solid #8a6e49;
  color: #edcd98;
  font-family: "Lithos Pro", Serif;
  font-size: 25px;
  padding: 2px;
}

.btn:active{
  background-color: #8a6e49;
  border: 3px solid #8a6e49;
  color: #edcd98;
}

.btn:hover{
  box-shadow: 1px 1px 10px #8a6e49;
}
