.ship_space{
  height: 100%;
  width: 50%;
  float: left;
  float: right;
  border: 1px solid blue;
}

.dock_space{
  height: 100%;
  width: 50%;
  float: left;
  float: right;
  border: 1px solid chocolate;
}

#arriving_harbours{float:left; width: 100%; height:100%;}
#arriving_harbour_1{width: 200%; height:25%; transform: scale(1, 1);background-color: rgba(100, 100, 0, 0.5); padding-top: 105%; margin-left: -100%;}
#arriving_harbour_2{width: 100%; height:25%;}
#arriving_harbour_3{width: 100%; height:25%;}
#arriving_harbour_4{width: 100%; height:25%;}

#ship_1{position:relative; top:30%; left:30%; width:30%; height:30%}
#ship_2{position:relative; top:30%; left:30%; width:30%; height:30%}
#ship_3{position:relative; top:30%; left:30%; width:30%; height:30%}
#ship_4{position:relative; top:30%; left:30%; width:30%; height:30%}
