<div class="dock_space">

</div>
<div class="ship_space">

  <!--drag and drop zone-->
  <div id="arriving_harbours">

    <div id="arriving_harbour_1"  (drop)="drop($event)" (dragover)="allowDrop($event)"></div>

    <div id="arriving_harbour_2"  (drop)="drop($event)" (dragover)="allowDrop($event)"></div>

    <div id="arriving_harbour_3"  (drop)="drop($event)" (dragover)="allowDrop($event)"></div>

    <div id="arriving_harbour_4"  (drop)="drop($event)" (dragover)="allowDrop($event)"></div>

    <div id="arriving_harbour_5"  (drop)="drop($event)" (dragover)="allowDrop($event)"></div>

  </div>

</div>
