<div class="dock_space">

</div>
<div class="ship_space">

<!--  &lt;!&ndash;drag and drop zone&ndash;&gt;
  <div id="arriving_harbours" class="arriving_harbours">
  <div id="arriving_harbour_1" class="row arriving_harbour_1"
       [dragula]="'harbours_bag'"></div> &lt;!&ndash; innerHTML no space, no new line allowed&ndash;&gt;
  <div id="arriving_harbour_2" class="row arriving_harbour_2"
       [dragula]="'harbours_bag'"></div> &lt;!&ndash; innerHTML no space, no new line allowed&ndash;&gt;
  <div id="arriving_harbour_3" class="row arriving_harbour_3"
       [dragula]="'harbours_bag'"></div> &lt;!&ndash; innerHTML no space, no new line allowed&ndash;&gt;
  <div id="arriving_harbour_4" class="row arriving_harbour_4"
       [dragula]="'harbours_bag'"></div> &lt;!&ndash; innerHTML no space, no new line allowed&ndash;&gt;
</div>-->

  <div *ngFor="let num of [1,2,3,4]"
       id="arriving_harbour_{{num}}" class="row arriving_harbour_{{num}}" [dragula]="'harbours_bag'">

    <div *ngIf="ships[num-1] != null" id="ngifShip">
      <app-ship class="appShip" [ship]="ships[num-1]" [stonesOnShip]="stonesOnShip[num-1]"></app-ship>
    </div><!--do not change anything-->

  </div>


</div>


