/* You can add global styles to this file, and also import other style files */

/* Popover*/
.popover {
  background: black;
}
/* Popover Header */
.popover-title {
  background-color: black;
  color: black;
  font-size: 28px;
  text-align:center;
}
/* Popover Body */
.popover-content {
  background-color: black;
  color: black;
  padding: 5px;
}
/* Popover Arrow */
.arrow {
  border-bottom-color: black !important;
  size:25px;
  height:50px;
  width:14px;
}

.popover.top .arrow:after {
  border-top-color: black;
}
