/* You can add global styles to this file, and also import other style files */

/* Popover */
.popover {
  border: 2px dotted red;
}
/* Popover Header */
.popover-title {
  background-color: #73AD21;
  color: #FFFFFF;
  font-size: 28px;
  text-align:center;
}
/* Popover Body */
.popover-content {
  background-color: coral;
  color: #FFFFFF;
  padding: 25px;
}
/* Popover Arrow */
.arrow {
  border-right-color: red !important;
  size:25px;
  height:50px;
  width:14px;
}
