<div id="spacing_left">
  <div id="points_assignment"></div>
</div>
<div id="fields">
  <div class="field_bar">
    <div id="f1_space"></div>
    <div class="field" id="field_1"></div>
  </div>
  <div class="field_space"></div>
  <div class="field_bar">
    <div id="f2_space"></div>
    <div class="field" id="field_2"></div>
  </div>
  <div class="field_space"></div>
  <div class="field_bar">
    <div id="f3_space"></div>
    <div class="field" id="field_3"></div>
  </div>
  <div class="field_space"></div>
  <div class="field_bar">
    <div id="f4_space"></div>
    <div class="field" id="field_4"></div>
  </div>
</div>
