<div id="spacing_left">
  <div class="points_assignment" id="obelisk"></div>
</div>
<div id="fields">
  <div class="field_bar">
    <div id="f1_space"></div>
    <div class="field" id="field_1">
      <p>
        {{stones[0]}}
      </p>
    </div>
  </div>
  <div class="field_space"></div>
  <div class="field_bar">
    <div id="f2_space"></div>
    <div class="field" id="field_2">
      <p>
        {{stones[1]}}
      </p>
    </div>
  </div>
  <div class="field_space"></div>
  <div class="field_bar">
    <div id="f3_space"></div>
    <div class="field" id="field_3">
      <p>
        {{stones[2]}}
      </p>
    </div>
  </div>
  <div class="field_space"></div>
  <div class="field_bar">
    <div id="f4_space"></div>
    <div class="field" id="field_4">
      <p>
        {{stones[3]}}
      </p>
    </div>
  </div>
</div>
