
<div class="harbour_parent">
  <final-destination id="site_harbour_Obelisk" [id]="'Obelisk'" [ship]="ship"></final-destination>
</div>


<div class="site_parent">


<div id="spacing_left">
  <div class="points_assignment" id="obelisk"></div>
</div>
<div id="fields">
  <div class="field_bar">
    <div id="f1_space"></div>
    <div class="field" id="field_1">
      <p>
        {{stones[0]}}
      </p>
    </div>
  </div>
  <div class="field_space"></div>
  <div class="field_bar">
    <div id="f2_space"></div>
    <div class="field" id="field_2">
      <p>
        {{stones[1]}}
      </p>
    </div>
  </div>
  <div class="field_space"></div>
  <div class="field_bar">
    <div id="f3_space"></div>
    <div class="field" id="field_3">
      <p *ngIf="numberOfPlayers > 2">
        {{stones[2]}}
      </p>
    </div>
  </div>
  <div class="field_space"></div>
  <div class="field_bar">
    <div id="f4_space"></div>
    <div class="field" id="field_4">
      <p *ngIf="numberOfPlayers > 3">
        {{stones[3]}}
      </p>
    </div>
  </div>
</div>
</div>
