.stones_1{
  z-index: 10; /*Roland: do not change, used for jquery logic*/
  margin:auto;
  position:relative;
  margin-top:2%;
  left:0px;
  height:30px;
  width:30px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}


.stone_brown{
  background-image: url("../../../assets/images/stone_brown.png");
}
.stone_black{
  background-image: url("../../../assets/images/stone_black.png");
}
.stone_white{
  background-image: url("../../../assets/images/stone_white.png");
}
.stone_gray{
  background-image: url("../../../assets/images/stone_gray.png");
}
