
.stones_brown {
    z-index: 10;
  margin: auto;
  position: relative;
  margin-top: 2%;
  left: 0px;
  height: 30px;
  width: 30px;
  background-image: url("../../../assets/images/stone_white.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.stones_black{
    z-index: 10;
  margin:auto;
  margin-top:2%;
  left:0px;
  height:30px;
  width:30px;
  background-image: url("../../../assets/images/stone_gray.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}


.stones_white {
    z-index: 10;
  margin: auto;
  position: relative;
  margin-top: 2%;
  left: 0px;
  height: 30px;
  width: 30px;
  background-image: url("../../../assets/images/stone_black.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.stones_gray{
    z-index: 10;
  margin:auto;
  position:relative;
  margin-top:2%;
  left:0px;
  height:30px;
  width:30px;
  background-image: url("../../../assets/images/stone_brown.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}


.stone_brown{
  background-image: url("../../../assets/images/stone_brown.png");
}
.stone_black{
  background-image: url("../../../assets/images/stone_black.png");
}
.stone_white{
  background-image: url("../../../assets/images/stone_white.png");
}
.stone_gray{
  background-image: url("../../../assets/images/stone_gray.png");
}

