.stones_1{
  border: 1px solid #0e40ff;/*border: 1px solid #44ff62;*/
  z-index: 10; /*Roland: do not change, used for jquery logic*/
  margin:auto;
  position:relative;
  margin-top:2%;
  left:0px;
  height:30px;
  width:30px;
  background-image: url("../../../assets/images/stone.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
